{% extends 'base.html' %}

{% block titulo %}
    <title>Digimundo - Tamers</title>
{% endblock %}

{% block logo %}
    <div class="logo">
        <img src="../static/imgs/logo/logo_tamers.png">
    </div>
{% endblock %}

{% block audio %}
    <audio autoplay loop>
        <source src="../static/audio/tamers_ost.mp3" type="audio/mpeg">
    </audio>
{% endblock %}

{% block nav %}
    <nav>
            <ul>
            <li><a href="/tamers">Adventure</a></li>
            <li><a href="/tamers_mundo">Mundo</a></li>
            <li><a href="/tamers_pers">Personagens</a></li>
            <li><a href="/tamers_digi">Digimons</a></li>
            <li><a href="/tamers_filme">Filmes</a></li>
            <li><a href='/'>Início</a></li>
        </ul>
    </nav>
{% endblock %}