body {
    background-color: lightblue;
}

header, footer {
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    background-color: lightcyan;
}

main {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    margin: 10px
}

h1, h2 {
    text-align: center;
    font-family: 'Aldrich';
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

p {
    font-family: 'Anta';font-size: 15px;
    text-align: justify;
    text-justify: inter-word;
}

.subtexto {
    text-align: center;
    font-size: 20px;
}

nav {
    border-radius: 5px;
    background-color: white;
    height:50px;
    
}

ul {
    display:flex;
    flex-direction: row;
    padding-top: 15px;
    gap: 90px;
    justify-content: center;
    list-style-type: none;
    align-self: center;
}

li {
    font-family: 'Aldrich';
}

nav a{
    color: black;
    text-decoration: none;
}

nav a:hover {
    color: lightblue;

}

nav img:hover {
    color: lightblue;

}

.brand-text:hover {
    color: lightblue;
}

.btn {
    margin-bottom: 10px;
}

.digi-btn {
  width: 200px;
  height: 100px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  opacity: 0.5;
  transition: opacity 0.2s;
}

.img-button {
  width: 200px;
  height: 60px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  opacity: 0.5;
  transition: opacity 0.2s;
}

.img-button:hover {
  opacity: 1;
}

.bg-img-1 {
    background-image: url(../imgs/logo/logo_adv.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.bg-img-2 {
    background-image: url(../imgs/logo/logo_02.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.bg-img-3 {
    background-image: url(../imgs/logo/logo_tamers.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.bg-img-4 {
    background-image: url(../imgs/logo/logo_frontier.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.bg-img-5 {
    background-image: url(../imgs/logo/logo_savers.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.bg-img-6 {
    background-image: url(../imgs/logo/logo_gg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.bg-img-7 {
    background-image: url(../imgs/logo/logo_tri.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.bg-img-8 {
    background-image: url(../imgs/logo/logo_reboot.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.digi-img-1 {
    background-image: url(../imgs/adv/btn/agu_btn.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.digi-img-2 {
    background-image: url(../imgs/adv/btn/gabu_btn.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.digi-img-3 {
    background-image: url(../imgs/adv/btn/piyo_btn.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.digi-img-4 {
    background-image: url(../imgs/adv/btn/tento_btn.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.digi-img-5 {
    background-image: url(../imgs/adv/btn/pal_btn.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.digi-img-6 {
    background-image: url(../imgs/adv/btn/goma_btn.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.digi-img-7 {
    background-image: url(../imgs/adv/btn/pata_btn.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.digi-img-8 {
    background-image: url(../imgs/adv/btn/tail_btn.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.carousel {
    max-width: 800px;
    margin: 0 auto;

}

.carousel-inner {
    max-height: 400px;
    border-radius: 20px;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: 0.5;
}

.logo img {
    opacity: 0.5;
    height: 150px;
}

.amostra {
    background-color: lightblue;
    padding: 5px;
    border-radius: 5px;
}

.amostra .bloco {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
    height: 180px;
    padding: 8px;
    border-radius: 10px;
    background-color: white; opacity: 1.0;
    margin: 5px;
    border-style: solid;
    border-color: lightskyblue;
    border-width: 5px;
}

.amostra .bloco .wiki {
    align-self: center;
    padding: 10px;
}

.amostra .bloco .wiki p {
    text-align: justify;
}

.amostra .bloco .foto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 150px;
}

.amostra .bloco .foto img {
    max-height: 100%;
    padding: 10px;
    align-self: center;
    margin: auto;
    object-fit: contain;
}