body {
    background-color: lightblue;
}

header, footer {
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    background-color: lightcyan;
}

main {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    margin: 10px
}

h1, h2 {
    text-align: center;
}

nav {
    border-radius: 5px;
    background-color: white;
    height:50px;
}

ul {
    display:flex;
    flex-direction: row;
    padding-top: 15px;
    gap: 90px;
    justify-content: center;
    list-style-type: none;
    align-self: center;
}

.amostra {
    background-color: lightblue;
    padding: 5px;
    border-radius: 5px;
}

.amostra .bloco {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
    height: 180px;
    padding: 8px;
    border-radius: 10px;
    background-color: white; opacity: 1.0;
    margin: 5px;
    border-style: solid;
    border-color: lightskyblue;
    border-width: 5px;
}

.amostra .bloco .wiki {
    align-self: center;
    padding: 10px;
}

.amostra .bloco .foto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 180px;
}

.amostra .bloco .foto img {
    max-width: 100%;
    height: 150px;
    padding: 10px;
    align-self: center;
    margin: auto;
}