{% extends "base.html" %}

{% block titulo %}
    <title>Digimon Adventure - Personagens</title>
{% endblock %}

{% block logo %}
    <div class="logo">
        <img src="../static/imgs/logo/logo_adv.png">
    </div>
{% endblock %}

{% block nav %}
    <nav>
            <ul>
            <li>
                <a class="navbar-brand" href="/">
                    <img src="../static/imgs/logo/logo_digi.gif" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                    Digimundo
                </a>
            </li>
            <li><a href="/adventure">Adventure</a></li>
            <li><a href="/adv_mundo">Mundo</a></li>
            <li><a href="/adv_pers">Personagens</a></li>
            <li><a href="/adv_digi">Digimons</a></li>
            <li><a href="/adv_filme">Filmes</a></li>
        </ul>
    </nav>
{% endblock %}

{% block audio %}
    <audio autoplay loop>
        <source src="../static/audio/adv_ost.mp3" type="audio/mpeg">
    </audio>
{% endblock %}

{% block main %}
    <h1>Os primeiros Digi-escolhidos</h1>
    <p>Nas férias de verão do Japão, no dia 1º de Agosto de 1999, 7 crianças foram transportadas para um mundo diferente, onde encontraram 
        pela primeira vez seus parceiros Digimons, e embarcariam em jornadas que criaria maturidade e responsabilidade naquelas crianças.
        Pouco tempo depois, uma última criança se juntaria ao grupo para lutar contra as forças das trevas e criar o primeiro grupo de 
        Digi-escolhidos da franquia.
    </p>
    <div class="amostra">
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/pers/taichi.png">
            </div>
            <div class="wiki">
                <p><b>Taichi Yagami:</b> Taichi (ou "Tai Kamiya" como ficou na dublagem ocidental) é o líder dos 8 Digi-escolhidos de Adventure 
                e possui o brasão da Coragem. Taichi é cuidadoso, porém pavio curto e imprudente às vezes, porém sempre coloca todos, especialmente 
                sua irmã mais nova, Hikari, em primeiro lugar. A cor de seu Digivice ao utilizar seu brasão é Laranja e seu perceiro é o Agumon.</p><br>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/pers/yamato.png">
            </div>
            <div class="wiki">
                <p><b>Yamato Ishida:</b> Yamato (ou "Matt Ishida" na dublagem ocidental) é um dos mais velhos e responsáveis dos 8 Digi-escolhidos 
                de Adventure e possui o brasão da Amizade. É o irmão mais velho de Takeru e viviam juntos antes de seus pais se separarem, por isso possui um comportamento 
                super-protetor com o pequeno. Mesmo tendo uma personalidade de lobo solitário, ajuda seus amigos sempre que pode, inclusive tocando 
                sua gaita para entretê-los na hora de dormir. A cor de seu Digivice se torna Azul e seu parceiro é Gabumon.</p><br>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/pers/sora.png">
            </div>
            <div class="wiki">
                <p><b>Sora Takenouchi:</b> Sora é considerada por muitos como a "mãe" do grupo dos 8 Digi-escolhidos de Adventure e possui o brasão 
                do Amor. Também é uma das mais velhas do grupo e cuida de todos, especialmente dos mais novos, e nunca se deixa levar ao ser 
                subestimada apenas por ser mulher. Juntamente com Taichi, é uma das mais atléticas e sempre está pronta para socorrer um amigo em 
                perigo. Seu Digivice ganha uma coloração avermelhada e sua parceira é a Piyomon.</p><br>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/pers/koshiro.png">
            </div>
            <div class="wiki">
                <p><b>Koshiro Izumi:</b> Koshiro (ou "Izzy", apelido que ganhou na dublagem) é o cérebro dos 8 Digi-escolhidos e possui o brasão 
                da Sabedoria. Sempre anda por aí com seu Notebook e se interessa bastante pela lógica e funcionamento do Digimundo. Sempre que algo 
                lhe chama atenção, segue até o fim para entendê-la. Seu Digivice ganha uma coloração Roxa com seu brasão e seu parceiro é o Tentomon.</p><br>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/pers/mimi.png">
            </div>
            <div class="wiki">
                <p><b>Mimi Tachikawa:</b> Mimi, mesmo parecendo meio infantil, serve como consolo emocional para os outros 8 Digi-escolhidos e possui 
                o brasão da Sinceridade. Vinda de uma família rica, Mimi é chorona e mimada, mas com o tempo foi se tornando mais madura e responsável 
                em meio aos obstáculos, servindo de cérebro criativo para seus amigos nas horas difíceis. Seu Brasão deixa seu Digivice Verde e sua 
                parceira é a Palmon.</p><br>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/pers/jou.png">
            </div>
            <div class="wiki">
                <p><b>Jou Kido:</b> Jou é o mais velho no grupo dos 8 Digi-escolhidos de Adventure e possui o brasão da Confiança. Responsável, às vezes 
                até demais, serve como guia para os mais novos, mesmo que em momentos seja meio atrapalhado pelo peso desssa responsabilidade. Colocando 
                seus amigos em primeiro lugar, aprendeu a confiar em si mesmo e em sua inteligência. Seu Digivice ganha a cor Cinza e seu parceiro é o 
                Gomamon.</p><br>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/pers/takeru.png">
            </div>
            <div class="wiki">
                <p><b>Takeru Takaishi:</b> Takeru (ou "T.K.", seu apelido na dublagem) é o irmão mais novo de Yamato e possui o brasão da Esperança. 
                Por ser uma criança, pode ser maio inocente às vezes, mas rapidamente entendeu a responsabilidade de ser um Digi-escolhido, e sempre tenta 
                se virar sozinho, mesmo sendo subestimado por ser mais novo. Seu Digivice brilha na cor Amarela e seu parceiro é o Patamon.</p><br>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/pers/hikari.png">
            </div>
            <div class="wiki">
                <p><b>Hikari Yagami:</b> Hikari (ou "Kari Kamiya", como foi dublado) é a irmã mais nova de Taichi, e foi a última Digi-escolhida a entrar 
                no grupo, possuindo o brasão da Luz. Sendo tão nova quanto Takeru, também era subestimada por ser jovem, mas entendeu seu papel como 
                Digi-escolhdia rapidamente. Misteriosa e inocente, Hikari é a luz da bondade para a dúvida de seus companheiros. Seu Digivice ganha um 
                brilho Rosa e sua parceira é a Tailmon.</p><br>
            </div>
        </div>
    </div>
{% endblock %}