{% extends "base.html" %}

{% block titulo %}
    <title>Digimon Adventure - Filmes</title>
{% endblock %}

{% block logo %}
    <div class="logo">
        <img src="../static/imgs/logo/logo_adv.png">
    </div>
{% endblock %}

{% block nav %}
            <li><a href="/adventure">Adventure</a></li>
            <li><a href="/adv_mundo">Mundo</a></li>
            <li><a href="/adv_pers">Personagens</a></li>
            <li><a href="/adv_digi">Digimons</a></li>
            <li><a href="/adv_filme">Filmes</a></li>
{% endblock %}

{% block audio %}
    <audio autoplay loop>
        <source src="../static/audio/adv_ost.mp3" type="audio/mpeg">
    </audio>
{% endblock %}

{% block main %}
    <h1>Os Primeiros Filmes</h1>
    <p>Abaixo estão listados todos os longas de Digimon, exibidos tanto na TV, quanto no Cinema.</p>
    <div class="amostra">
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/adv_filme1.png">
            </div>
            <div class="wiki">
                <p><b>Digimon Adventure OVA:</b> A primeira Animação de Vídeo Original (OVA) lançado no Japão, uma semana antes do anime lançar na televisão, contando a 
                    história antes da série animada, protagonizando os irmãos Yagami conhecendo Agumon pela primeira vez no Mundo Real.</p>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/adv_filme2.png">
            </div>
            <div class="wiki">
                <p><b>Our War Game:</b> Se passando alguns anos após o fim da série, este filme conta a história de 4 Digi-Escolhidos (Taichi, Koshiro, Yamato e Takeru) 
                enfrentando Keramon, um digimon vírus que invadiu a internet. Aqui marca a primeira aparição oficial de Omegamon, a fusão entre WarGreymon e MetalGarurumon.</p>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/adv_filme0.png">
            </div>
            <div class="wiki">
                <p><b>Digimon - O Filme:</b> Uma versão censurada, criada nos Estados Unidos, que mescla os dois priemiros filmes (citados acima) e os primeiros filmes de 
                Digimon Adventure 02 (Hurricane Touchdown/Golden Digimentals), mudando algumas partes e detalhes da história para caber dentro da duração dos filmes.</p>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/adv_filme3.png">
            </div>
            <div class="wiki">
                <p><b>Digimon Adventure Tri:</b> Uma sequência de 6 filmes que contam a história anos após o final de Adventure 02, com os 8 Digi-Escolhidos originais, 
                agora adolescentes, lidando com uma nova ameaça: uma guerra entre os Deuses do Digimundo (Homeostase e Yggdrasil) ao lado de Mei, uma nova Digi-Escolhida e 
                sua parceira Meicoomon. Para saber mais sobre esta série que foi separa em episódios depois de ser exibida nos cinemas, <a href="/tri">clique aqui.</a></p>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/adv_filme4.png">
            </div>
            <div class="wiki">
                <p><b>Last Adventure - Kizuna:</b> A última aventura de Taichi e Yamato como Digi-Escolhidos, onde eles descobrem que devem se despedir de seus Digimons, 
                por já terem alcançado a idade adulta. Na trama, os dois, ao lado de seus antigos companheiros, devem lutar contra Eosmon, um Digimon que rouba a consciência 
                de outros Digi-Escolhidos ao redor do mundo.</p>
            </div>
        </div>
    </div>
{% endblock %}