<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href="{{ url_for('static', filename='css/style.css') }}">
    <title>Digimon Adventure - Mundo</title>
</head>
<body>
    <h1>O Mundo Digital - O Equilíbrio</h1>
    <p>O "Digimundo" de Adventure possui características tanto fantasiosas, quanto reais. Era comum para nossos heróis, 
        andarem por aí e encontrarem Máquinas de Venda Automáticas, Postes de Luz, Trilhos de Trem e muitas outras coisas
        do nosso mundo. É dito, que em meio aos dados que percorrem o Digimundo, acontece um reflexo do Mundo Real, fazendo com 
        que informações tecnológicas sejam imitadas dentro de um mundo fantasioso em ambientes mais "naturais", jsutamente pelo 
        elo fino entre os dois mundos, onde vários vilões já tramaram em unificá-los várias vezes para comandá-los.</p>
    <h1>Acessórios Digitais</h1>
    <h2>Dispositivos</h2>
    <p><b>O Digivice:</b> O Digivice (Digital Device) é o acessório mais importante dentro de Digimon, se tornando símbolo da 
    franquia até hoje. O primeiro Digivice tinha 2 funções simples: Se conectar com o parceiro Digimon, juntamente dos Brasões 
    para fazê-lo evoluir; Rastrear outros Digi-Escolhidos caso eles se separassem.</p><br>
    <p><b>Brasões:</b> Os Brasões são sigilos desenhados em pedras especiais que estavam espalhados pelo Digimundo como símbolos 
    ancestrais. Ao encaixar a placa do Brasão dentro de um colar especial, o Digivice do portador poderia se conectar com o Brasão 
    para fazer o Digimon evoluir para o nível Perfeito, caso o portador desenvolvesse a virtude relacionada com o símbolo do Brasão.</p><br>
    <p><b>Notebook:</b> O Notebook utilizado pelo personagem Koushiro durante a saga Adventure também se tornou um símbolo para a 
    franquia. Após ser modificado por Gennai, o computador de Koushiro pode se conectar ao Digivice como uma espécie de enciclopédia 
    Digimon, além de um portal de comunicação e transporte entre o Mundo Real e o Digimundo.</p><br>
    <h2>Brasões e suas Virtudes</h2>
    <p><b>Coragem:</b> Brasão utilizado por Taichi Yagami e seu parceiro Agumon. Simboliza um forte espírito de liderança 
    a ponto de se sacrificar pelo bem de outros. Seu símbolo é um sol de 8 pontas, como uma rosa dos ventos.</p><br>
    <p><b>Amizade:</b> Brasão utilizado por Yamato Ishida e seu parceiro Gabumon. Simboliza a conexão forte entre amigos e 
    a força que a união proporciona. Seu símbolo reflete o Yin-Yang, duas partes opostas, unidas e simétricas.</p><br>
    <p><b>Amor:</b> Brasão utilizado por Sora Takenouchi e sua parceira Piyomon. Simboliza a relação de carinho e afeto entre 
    as pessoas, que podem ser mal interpretadas, porém mais forte ao ser compreendida e recíproca. Seu símbolo é um coração.</p><br>
    <p><b>Sabedoria:</b> Brasão utilizado por Koushiro Izumi e seu parceiro Tentomon. Simboliza a busca por conhecimento, e o 
    quão longe se pode sacrificar para entender o que é a verdadeira sabedoria. Seu símbolo são dois círculos ligaods, como neurônios.</p><br>
    <p><b>Sinceridade:</b> Brasão utilizado por Mimi Tachikawa e sua parceira Palmon. Simboliza a pureza do coração de falar o 
    que sente, não importa o que ou quando, sendo verdadeiro consigo mesmo. Seu símbolo é uma gota de orvalho, simbolizando uma lágrima pura.</p><br>
    <p><b>Confiança:</b> Brasão utilizado por Joe Kido e seu parceiro Gomamon. Simboliza a fé e a responsabilidade que e deve ter ao 
    confiar em alguém do fundo do coração. Seu símbolo representa uma cruz com raios de luz. </p><br>
    <p><b>Esperança:</b> Brasão utilizado por Takeru Kataishi e seu parceiro Patamon. Simboliza a força de vontade necessária para ser 
    otimista, superar os obstáculos e nunca desistir, acreditando que tudo vai ficar bem no final. Seu símbolo representa um altar com 
    um sol radiante no topo.</p><br>
    <p><b>Luz:</b> Brasão utilizado por Hikari Yagami e sua parceira Tailmon. Simboliza não se deixar ser tentado pelas trevas do nosso coração, 
    como a tristeza e a raiva, sendo bondoso e gentil, não importa o que aconteça. Seu símbolo é um raio de luz dividido em 8 pontas.</p><br>
</body>
</html>