{% extends 'base.html' %}

{% block titulo %}
    <title>Digimon Adventure - Mundo</title>
{% endblock %}

{% block logo %}
    <div class="logo">
        <img src="../static/imgs/logo/logo_adv.png">
    </div>
{% endblock %}

{% block nav %}
    <nav>
            <ul>
                <li>
                <a class="navbar-brand" href="/">
                    <img src="../static/imgs/logo/logo_digi.gif" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                    Digimundo
                </a>
            </li>
            <li><a href="/adventure">Adventure</a></li>
            <li><a href="/adv_mundo">Mundo</a></li>
            <li><a href="/adv_pers">Personagens</a></li>
            <li><a href="/adv_digi">Digimons</a></li>
            <li><a href="/adv_filme">Filmes</a></li>
        </ul>
    </nav>
{% endblock %}

{% block audio %}
    <audio autoplay loop>
        <source src="../static/audio/adv_ost.mp3" type="audio/mpeg">
    </audio>
{% endblock %}

{% block main %}
    <h1>O Mundo Digital - O Equilíbrio</h1>
    <p>O "Digimundo" de Adventure possui características tanto fantasiosas, quanto reais. Era comum para nossos heróis, 
        andarem por aí e encontrarem Máquinas de Venda Automáticas, Postes de Luz, Trilhos de Trem e muitas outras coisas
        do nosso mundo. É dito, que em meio aos dados que percorrem o Digimundo, acontece um reflexo do Mundo Real, fazendo com 
        que informações tecnológicas sejam imitadas dentro de um mundo fantasioso em ambientes mais "naturais", jsutamente pelo 
        elo fino entre os dois mundos, onde vários vilões já tramaram em unificá-los várias vezes para comandá-los.</p>
    <h1>Acessórios Digitais</h1>
    <h2>Dispositivos</h2>
    <div class="amostra">
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/digivice.png">
            </div>
            <div class="wiki">
                <p><b>O Digivice:</b> O Digivice (Digital Device) é o acessório mais importante dentro de Digimon, se tornando símbolo da 
                franquia até hoje. O primeiro Digivice tinha 2 funções simples: Se conectar com o parceiro Digimon, juntamente dos Brasões 
                para fazê-lo evoluir; Rastrear outros Digi-Escolhidos caso eles se separassem.</p><br>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/brasao.png">
            </div>
            <div class="wiki">
                <p><b>Brasões:</b> Os Brasões são sigilos desenhados em pedras especiais que estavam espalhados pelo Digimundo como símbolos 
                ancestrais. Ao encaixar a placa do Brasão dentro de um colar especial, o Digivice do portador poderia se conectar com o Brasão 
                para fazer o Digimon evoluir para o nível Perfeito, caso o portador desenvolvesse a virtude relacionada com o símbolo do Brasão.</p><br>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/notebook.png">
            </div>
            <div class="wiki">
                <p><b>Notebook:</b> O Notebook utilizado pelo personagem Koushiro durante a saga Adventure também se tornou um símbolo para a 
                franquia. Após ser modificado por Gennai, o computador de Koushiro pode se conectar ao Digivice como uma espécie de enciclopédia 
                Digimon, além de um portal de comunicação e transporte entre o Mundo Real e o Digimundo.</p><br>
            </div>
        </div>
    </div>
    <h2>Brasões e suas Virtudes</h2>
    <div class="amostra">
        <div class='bloco'>
            <div class="foto">
                <img src="../static/imgs/adv/brasoes/coragem.png">
            </div>
            <div class="wiki">
                <p><b>Coragem:</b> Brasão utilizado por Taichi Yagami e seu parceiro Agumon. Simboliza um forte espírito de liderança 
                a ponto de se sacrificar pelo bem de outros. Seu símbolo é um sol de 8 pontas, como uma rosa dos ventos.</p><br>
            </div>
        </div>
        <div class='bloco'>
            <div class="foto">
                <img src="../static/imgs/adv/brasoes/amizade.png">
            </div>
            <div class="wiki">
                <p><b>Amizade:</b> Brasão utilizado por Yamato Ishida e seu parceiro Gabumon. Simboliza a conexão forte entre amigos e 
                a força que a união proporciona. Seu símbolo reflete o Yin-Yang, duas partes opostas, unidas e simétricas.</p><br>
            </div>
        </div>
        <div class='bloco'>
            <div class="foto">
                <img src="../static/imgs/adv/brasoes/amor.png">
            </div>
            <div class="wiki">
                <p><b>Amor:</b> Brasão utilizado por Sora Takenouchi e sua parceira Piyomon. Simboliza a relação de carinho e afeto entre 
                as pessoas, que podem ser mal interpretadas, porém mais forte ao ser compreendida e recíproca. Seu símbolo é um coração.</p><br>
            </div>
        </div>
        <div class='bloco'>
            <div class="foto">
                <img src="../static/imgs/adv/brasoes/sabedoria.png">
            </div>
            <div class="wiki">
                <p><b>Sabedoria:</b> Brasão utilizado por Koushiro Izumi e seu parceiro Tentomon. Simboliza a busca por conhecimento, e o 
                quão longe se pode sacrificar para entender o que é a verdadeira sabedoria. Seu símbolo são dois círculos ligaods, como neurônios.</p><br>
            </div>
        </div>
        <div class='bloco'>
            <div class="foto">
                <img src="../static/imgs/adv/brasoes/sinceridade.png">
            </div>
            <div class="wiki">    
                <p><b>Sinceridade:</b> Brasão utilizado por Mimi Tachikawa e sua parceira Palmon. Simboliza a pureza do coração de falar o 
                que sente, não importa o que ou quando, sendo verdadeiro consigo mesmo. Seu símbolo é uma gota de orvalho, simbolizando uma lágrima pura.</p><br>
            </div>
        </div>
        <div class='bloco'>
            <div class="foto">
                <img src="../static/imgs/adv/brasoes/confianca.png">
            </div>
            <div class="wiki">
                <p><b>Confiança:</b> Brasão utilizado por Joe Kido e seu parceiro Gomamon. Simboliza a fé e a responsabilidade que e deve ter ao 
                confiar em alguém do fundo do coração. Seu símbolo representa uma cruz com raios de luz. </p><br>
            </div>
        </div>
        <div class='bloco'>
            <div class="foto">
                <img src="../static/imgs/adv/brasoes/esperanca.png">
            </div>
            <div class="wiki">
                <p><b>Esperança:</b> Brasão utilizado por Takeru Takaishi e seu parceiro Patamon. Simboliza a força de vontade necessária para ser 
                otimista, superar os obstáculos e nunca desistir, acreditando que tudo vai ficar bem no final. Seu símbolo representa um altar com 
                um sol radiante no topo.</p><br>
            </div>
        </div>
        <div class='bloco'>
            <div class="foto">
                <img src="../static/imgs/adv/brasoes/luz.png">
            </div>
            <div class="wiki">    
                <p><b>Luz:</b> Brasão utilizado por Hikari Yagami e sua parceira Tailmon. Simboliza não se deixar ser tentado pelas trevas do nosso coração, 
                como a tristeza e a raiva, sendo bondoso e gentil, não importa o que aconteça. Seu símbolo é um raio de luz dividido em 8 pontas.</p><br>
            </div>
        </div>
    </div>
    {% endblock %}
