{% extends "base.html" %}

{% block titulo %}
    <title>Digimon Adventure - Digimons</title>
{% endblock %}

{% block logo %}
    <div class="logo">
        <img src="../static/imgs/logo/logo_adv.png">
    </div>
{% endblock %}

{% block nav %}
    <nav>
            <ul>
                <li>
                <a class="navbar-brand" href="/">
                    <img src="../static/imgs/logo/logo_digi.gif" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                    <span class='brand-text'>Digimundo</span>
                </a>
            </li>
            <li><a href="/adventure">Adventure</a></li>
            <li><a href="/adv_mundo">Mundo</a></li>
            <li><a href="/adv_pers">Personagens</a></li>
            <li><a href="/adv_digi">Digimons</a></li>
            <li><a href="/adv_filme">Filmes</a></li>
        </ul>
    </nav>
{% endblock %}

{% block audio %}
    <audio autoplay loop>
        <source src="../static/audio/adv_ost.mp3" type="audio/mpeg">
    </audio>
{% endblock %}

{% block main %}
    <h1>Os Companheiros Digitais</h1>
    <p>Esperando ansiosamente para conhecer seus parceiros, os 8 Digimons aguardaram seus amigos por muito tempo até começarem suas 
        aventuras no Digimundo. Em Adventure, nos foi apresentado os <b>Estágios Evolutivos</b> dos Digimons, que evoluiam com a ajuda do 
        Digivice: Bebê - Treinamento - Novato - Campeão - Perfeito - Extremo, porém apenas Agumon e Gabumon atingiram a forma Extrema no anime.
        Para ver a informação de um Parceiro específico, escolha abaixo:
    </p>
    <div class="d-flex flex-row align-items-center justify-content-center">
        <a href="#agu" class="btn img-button digi-btn digi-img-1"></a>
        <a href="#gabu" class="btn img-button digi-btn digi-img-2"></a>
        <a href="#piyo" class="btn img-button digi-btn digi-img-3"></a>
        <a href="#tento" class="btn img-button digi-btn digi-img-4"></a>
        <a href="#pal" class="btn img-button digi-btn digi-img-5"></a>
        <a href="#goma" class="btn img-button digi-btn digi-img-6"></a>
        <a href="#pata" class="btn img-button digi-btn digi-img-7"></a>
        <a href="#tail" class="btn img-button digi-btn digi-img-8"></a>
    </div>
    <div class="amostra">
        <h1 id="agu">Agumon</h1>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/digi/bota.png">
            </div>
            <div class="wiki">
                <p><b>Botamon:</b> Forma Bebê de Agumon, nascido recentemente de seu ovo. Possui uma textura gelatinosa e só pode reproduzir sons simples, como 
                assobios ou a primeira sílaba de seu nome. Sua técnica especial são as Bolhas, bolhinhas de sabão que solta pela sua boca para confundir um predador.</p>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/digi/koro.png">
            </div>
            <div class="wiki">
                <p><b>Koromon:</b> Forma em Treinamento de Agumon, agora mais pesado que Botamon. Faminto e energético, sempre está pulando por aí enquanto procura comida, agora
                podendo falar normalmente. Sua técnica especial são as Bolhas, um pouco mais fortes das bolhas de sabão de sua forma anterior.
                </p>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/digi/agu.png">
            </div>
            <div class="wiki">
                <p><b>Agumon:</b> Agora em sua forma Novata, Agumon é mais veloz e mais forte, podendo arranhar e morder inimigos com muito mais força. É alegre e confiante, 
                sempre pronto para proteger e lutar ao lado de seu parceiro Taichi. Sua técnica especial é o Bafo de Pimenta, onde atira uma bola de fogo de sua boca.</p>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/digi/grey.png">
            </div>
            <div class="wiki">
                <p><b>Greymon:</b> Forma Campeã de Agumon, agora muito maior, porém um pouco mais lento por causa de seu tamanho. Possui um capacete duro de onde surge seu 
                poderoso chifre, sua arma física mais forte. Sua técnica é a Bola de Fogo, uma forma mais forte e maior do ataque de Agumon.</p>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/digi/metalgrey.png">
            </div>
            <div class="wiki">
                <p><b>MetalGreymon:</b> Forma Perfeita de Agumon após evoluir com o Brasão da Coragem. MetalGreymon agora possui partes robóticas que aumentam ainda mais 
                sua força, além de um par de asas para auxiliar na velocidade de seu grande corpo. Sua técnica especial é o Giga Destruidor, onde atira dois mísseis de seu
                peito.</p>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/digi/wargrey.png">
            </div>
            <div class="wiki">
                <p><b>WarGreymon:</b> Forma Extrema e mais poderosa de Agumon. WarGreymon agora é 100% robótico, possuindo garras destruidoras e um par de asas em suas costas, que 
                pode desacoplar para transformar em um grande escudo. Suas técnicas especiais são a Força Terra, uma grande bola de energia, e o Tornado Bravo, um ataque giratório 
                que se assemelha a um tornado.</p>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/digi/omega.png">
            </div>
            <div class="wiki">
                <p><b>Omegamon:</b> Fusão entre WarGreymon e MetalGarurumon presente no filme Our War Game. É extremamente ágil e utiliza as cabeças das armaduras dos dois 
                Digimons como arma. Suas técnicas são a Espada Trancendente, do lado da Coragem, e o Canhão Supremo, do lado da Amizade.</p>
            </div>
        </div>
        <h1 id="gabu">Gabumon</h1>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/digi/puni.png">
            </div>
            <div class="wiki">
                <p><b>Punimon:</b> Forma Bebê de Gabumon, recém chocado de um ovo. Mesmo tendo um corpo gelatinoso, seus chifres têm uma durabilidade forte o suficiente para machucarem. 
                    Sua habilidade especial é o Chifre-Bebê, onde roda e se defende com os 3 chifres em sua cabeça.
                </p>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/digi/tsuno.png">
            </div>
            <div class="wiki">
                <p><b>Tsunomon:</b> Forma Em Treinamento de Gabumon. Agora, seus 3 chifres pequenos se tornaram um grande, afiado, chifre. Não possui mais uma consistência fofa, pois seu 
                corpo agora é revestido de pelos. Sua técnica especial são as Bolhas.</p>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/digi/gabu.png">
            </div>
            <div class="wiki">
                <p><b>Gabumon:</b> Agora em uma forma Novata, Gabumon se torna mais forte. Sua pelugem é um casaco feito com os pelos de sua mãe Garurumon, que usa apra se aquecer, 
                mesmo que ninguém tenha o visto sem ela. Seus golpes variasm de ataques com garras e com seus chifres, mas sua técnica especial é o Fogo Azul, que espele pela sua boca 
                como um jato de calor.</p>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/digi/garuru.png">
            </div>
            <div class="wiki">
                <p><b>Garurumon:</b> Forma Campeã de Gabumon, agora tem a aparência de um grande lobo, com tamanho suficiente para ser montado por seu parceiro Yamato nas costas. Sua pelugem 
                é um excelente isolante térmico, e suas garras e dentes tem forças incrivelmente destrutivas. Sua técnica especial é a Rajada Uivante, uma versão mais forte de seu ataque anterior.</p>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/digi/weregaruru.png">
            </div>
            <div class="wiki">
                <p><b>WereGarurumon:</b> Forma perfeita de Gabumon após evoluir com o poder do Brasão da Amizade. Com a aparência mais humanóide, semelhante a um Lobisomem, 
                WereGarurumon é agil e atçético, podendo esquivar e atacar quase sem ser notado. Seu ataque especial são as Garras de Lobo, que podem cortar até construções ao meio.</p>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/digi/metalgaruru.png">
            </div>
            <div class="wiki">
                <p><b>MetalGarurumon:</b> Forma extrema e mais forte de Gabumon. Agora, voltando a ser quadrúpede, MetalGarurumon se reveste em um corpo metálico, com armamento 
                pesado, com raios congelantes e misséis de Nitrogênio. Sua técnica especial é o Bafo Congelante, que espele de sua boca como um raio que congela o alvo rapidamente.</p>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/digi/omega.png">
            </div>
            <div class="wiki">
                <p><b>Omegamon:</b> Fusão entre WarGreymon e MetalGarurumon presente no filme Our War Game. É extremamente ágil e utiliza as cabeças das armaduras dos dois 
                Digimons como arma. Suas técnicas são a Espada Trancendente, do lado da Coragem, e o Canhão Supremo, do lado da Amizade.</p>
            </div>
        </div>
        <h1 id='piyo'>Piyomon</h1>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/digi/nyoki.png">
            </div>
            <div class="wiki">
                <p><b>Nyokimon:</b> Forma Bebê de Piyomon, possuindo a forma de uma pequena semente, com um broto saindo de sua cabeça. É frágil e medrosa, se defendendo 
                com suas Sementes Digitais, expelindo elas de suas boca, como técnica especial.</p>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/digi/piyoco.png">
            </div>
            <div class="wiki">
                <p><b>Piyocomon:</b> Forma Em Treinamento de Piyomon, possui uma vegetação nascendo de sua cabeça. É gentil e carinhosa, sempre correndo atrás de sua 
                parceira Sora. Seu ataque especial são as Bolhas.</p>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/digi/piyo.png">
            </div>
            <div class="wiki">
                <p><b>Piyomon:</b> Agora em sua forma Novata, Piyomon possui a forma de um pássaro rosa. É extremamente carinhosa e defende sua parceira com unhas e dentes. 
                Sua técnica especial é a Espiral Mágica, um tornado de fogo esverdeado.</p>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/digi/birdra.png">
            </div>
            <div class="wiki">
                <p><b>Birdramon:</b> Forma Campeã de Piyomon, agora é um grande pássaro de fogo. Por conta de seu tamanho, é possível levar pessoas em seus pés, ao invés de em suas 
                costas, por conta de seu grande calor. Sua técnica especial é a Asa Meteoro, onde joga várias bolas de fogo de suas asas.</p>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/digi/garuda.png">
            </div>
            <div class="wiki">
                <p><b>Garudamon:</b> Forma Perfeita e mais forte de Piyomon, se tranformando em um pássaro humanóide gigante, com enormes asas em suas costas, usando o poder do Brasão do Amor. Garudamon 
                    é grande o suficiente para levar os 8 Digi-Escolhidos em suas mãos, e é incrivelmente forte fisicamente. Sua técnica especial é a Sombra Alada, onde joga sua sombra pegando fogo 
                no inimigo.</p>
            </div>
        </div>
        <h1 id='tento'>Tentomon</h1>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/digi/pabu.png">
            </div>
            <div class="wiki">
                <p><b>Pabumon:</b> Fomra Bebê de Tentomon, após nascer de seu ovo. Possui uma forma gelatinosa e uma pequena chupeta, que nunca tira da boca. É curioso, mas 
                medroso e se defende com a técnica Bolhas ao ser surpreendido.</p>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/digi/moti.png">
            </div>
            <div class="wiki">
                <p><b>Motimon:</b> Forma Em Treinamento de Tentomon. Agora menos medroso e mais curioso do que nunca, este pequeno Digimon acompanha seu parceiro Koshiro 
                de perto para entender ainda mais do mundo junto dele. Sua técnica especial são as Bolhas.</p>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/digi/tento.png">
            </div>
            <div class="wiki">
                <p><b>Tentomon:</b> Em sua forma Novata, Tentomon tem a aparência de um besouro preto e vermelho. Suas asas e antenas possuem uma eletricidade estática, com a 
                qual se carrega eletricamente para atacar com o Trovão Bebê.</p>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/digi/kabuteri.png">
            </div>
            <div class="wiki">
                <p><b>Kabuterimon:</b> Forma Campeã de Tentomon, onde se torna um enorme besouro azul, com uma carapaça dura que possui um chifre poderoso. Com suas asas, compensa 
                seu grande tamanho com uma alta velocidade. Seu ataque especial é o Super Choque, onde ataca com uma grande rajada carregada de eletricidade.</p>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/digi/atlurkabuteri.png">
            </div>
            <div class="wiki">
                <p><b>AtlurKabuterimon:</b> Forma Perfeita de Tentomon depois de evoluir usando o Brasão da Sabedoria. Se torna ainda maior, se evestindo de um grande exoesqueleto 
                vermelho, aumentando ainda mais seu chifre para parecer um tridente. Utiliza o Chifre Colossal como técnica, onde avança para frente com seu chifre, carregado eletricamente.</p>
            </div>
        </div>
        <h1 id="pal">Palmon</h1>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/digi/yura.png">
            </div>
            <div class="wiki">
                <p><b>Yuramon:</b> Forma Bebê de Palmon, na forma de uma pequena semente revestida de pelos. É calmo e calado, se escondendo no solo sempre que percebe o perigo. Sua 
                técnica especial são as Sementes Digitais, que utiliza para dispersar a atenção de Digimons maiores.</p>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/digi/tane.png">
            </div>
            <div class="wiki">
                <p><b>Tanemon:</b> Forma Em Treinamento de Palmon, agora na forma de uma pequena muda de planta. Com uma personalidade forte, porém sensível, Tanemon utiliza sua técnica de 
                Bolhas para dar suporte a seus amigos de longe, para atrapalhar o senso de direção do inimigo.</p>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/digi/pal.png">
            </div>
            <div class="wiki">
                <p><b>Palmon:</b> Em sua forma Novata, Palmon possui fortes raízes em seus pés e uma flor nascendo se sua cabeça. Está sempre preocupada com o bem estar de Mimi, sua 
                parceira. Sua técnica especial é a Hera Venenosa, onde estica seus dedos em forma de vinha para agarrar o oponente.</p>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/digi/toge.png">
            </div>
            <div class="wiki">
                <p><b>Togemon:</b> Ao evoluir para a forma Campeã, Palmon se torna um enorme cacto com luvas de boxe. Togemon pode parecer devagar, mas é incirvelmente ágil com seus punhos, tendo 
                uma grande força física. Sua técnica especial é a Rajada de Espinhos, onde gira, soltando vários de seus espinhos no oponente.</p>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/digi/lili.png">
            </div>
            <div class="wiki">
                <p><b>Lilimon:</b> Em sua forma Perfeita e mais forte, Palmon se transforma em uma pequena fada ao desabrochar da flor nascida de Togemon, usando a força do Brasão da Sinceridade. Lilimon é pequena 
                    e ágil, facilmente desviando dos ataques dos inimigos, graciosamente. Sua técnica é o Canhão-Flor, onde junta suas mãos para soltar uam forte onde de energia.</p>
            </div>
        </div>
        <h1 id="goma">Gomamon</h1>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/digi/pichi.png">
            </div>
            <div class="wiki">
                <p><b>Pichimon:</b> Em sua forma Bebê, Pichimon nasce como um pequeno girino esbranquiçado. É ágil na água, podendo flutuar um pouco no solo. Para despistar predadores, 
                utiliza as Bolhas de Sabão para sair correndo da confusão.</p>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/digi/puka.png">
            </div>
            <div class="wiki">
                <p><b>Pukamon:</b> Em sua forma Em Treinameto, Pukamon é um pequeno peixe com moicano que nada pelas águas fazendo travessuras. Suas Bolhas de Sabão se tornam mais fortes, 
                podendo despistar até inimigos grandes dentro d'água.</p>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/digi/goma.png">
            </div>
            <div class="wiki">
                <p><b>Gomamon:</b> Ao atingir sua forma Novata, Gomamon pode se mover livrememnte entre água e terra, como uma foca. Está sempre encorajando o medroso Jou, seu parceiro, para 
                ser um líder menos medroso. Seu ataque especial são os Peixes Marchantes, uma frota de peixes que auxilia Gomamon no combate.</p>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/digi/ikkaku.png">
            </div>
            <div class="wiki">
                <p><b>Ikkakumon:</b> Na forma Campeã de Gomamon, se torna uma grande lontra, com um grande arpão como chifre. Seu pelo é tão espesso que pode nadar até em águas 
                congeladas sem sentir frio. Sua técnica, Torpedo Arpão, joga um míssil de seu chifre para explodir seus inimigos.</p>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/digi/zudo.png">
            </div>
            <div class="wiki">
                <p><b>Zudomon:</b> Na forma Perfeita e mais forte de Gomamon, ele se torna um grande narval, com uma resistente carapaça que usa nas costas, usando o poder do Brasão da Confiança. 
                    Como arma, Zudomon utiliza Mjolnir, feito de Digizóide, o metal mais forte do Digimundo. Sua técnica especial é o Martelo Vulcão, que atinge o chão criando uma rajada de eletricidade no inimigo.</p>
            </div>
        </div>
        <h1 id="pata">Patamon</h1>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/digi/poyo.png">
            </div>
            <div class="wiki">
                <p><b>Poyomon:</b> Ao nascer como Bebê de um ovo, Poyomon é uma pequena água-viva que pode planar usando a força de seu corpo, podendo até voar pelos céus sem problemas, facilmente 
                despistando inimigos. Sua ténica são as pequenas Bolhas de Sabão.</p>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/digi/toko.png">
            </div>
            <div class="wiki">
                <p><b>Tokomon:</b> A forma Em Treinamento de Patamon, um pequeno roedor branquinho. Mesmo que possa parecer inofensivo por sua fofura, Tokomon esconde vários dentes afiados em sua boca, que 
                pode usar para se defender de quem chegar perto demais. Sua técnica especial são as Bolhas.</p>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/digi/pata.png">
            </div>
            <div class="wiki">
                <p><b>Patamon:</b> Patamon, em sua forma Novata, é um pequeno roedor com asas. É ágil e sempre está disposto a defender seu parceiro, Takeru, ao qual compartilha a inocência do 
                grupo. Sua técnica especial é a Bolha de Ar, a qual cospe no inimigo com bastante potência.</p>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/digi/ange.png">
            </div>
            <div class="wiki">
                <p><b>Angemon:</b> Ao atingir a forma Campeã, Patamon se transforma em um anjo adulto. Angemon possui um cajado sagrado que usa de arma para se defender e para carregar seus 
                ataques. Seu ataque mais forte é a Mão do Destino, ao qual descarrega sua força divina em um soco.</p>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/digi/holyange.png">
            </div>
            <div class="wiki">
                <p><b>HolyAngemon:</b> Em sua forma Perfeita e mais forte, Patamon se torna um paladino angelical usando o poder do Brasão da Esperança. Holyangemon possui uma armadura 
                    e um escudo, juntamente com sua espada que guarda em seu braço, a Excalibur. Seu golpe mais poderoso é o Portal do Destino, que abre uma dimensão paralela que suga odo o mal.</p>
            </div>
        </div>
        <h1 id="tail">Tailmon</h1>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/digi/yukimibota.png">
            </div>
            <div class="wiki">
                <p><b>YukimiBotamon:</b> A forma Bebê de Tailmon, num formato parecido com um Botamon, mas revestido de pelos brancos e frios. Vive em ambientes gelados e ataca predadores 
                com sua técnica Bolas de Neve, que cospe de sua boca.</p>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/digi/nyaro.png">
            </div>
            <div class="wiki">
                <p><b>Nyaromon:</b> Em sua forma Em Treinamento, começa a ter uma aparência mais animalesca, aqui se assemelhando a uma pequena gata. Utilizando seu Rabo Chicote, Nyaromon se 
                defende de vários predadores com um único golpe.</p>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/digi/plot.png">
            </div>
            <div class="wiki">
                <p><b>Plotmon:</b> Em sua forma Novata, ganha uma aparência canina. Plotmon possui em seu pescoço o Anel Sagrado, que usa de coleira. Com seu Rugido do Filhote pode se defender 
                de inimigos enormes ao ensurdecê-los.</p>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/digi/tail.png">
            </div>
            <div class="wiki">
                <p><b>Tailmon:</b> Na forma Campeã e mais comum, Tailmon volta a ter uma aparênica felina. Seu Anel Sagrado agora se localiza em seu rabo. Suas luvas, funcionam como luvas de boxe, 
                intensificando o poder de seu Punho de Gato.</p>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/digi/angewo.png">
            </div>
            <div class="wiki">
                <p><b>Angewomon:</b> A forma Perfeita e mais forte de Tailmon, ao evoluir com o Brasão da Luz. Consguindo uma aparência humanóide e angelical, defende sua parceira Hikari com o poder 
                da luz divina. Seu ataque especial é a Flecha Celestial, onde usa seu poder divino para atirar uma flecha em um inimigo.</p>
            </div>
        </div>
    </div>
{% endblock %}