{% extends "base.html" %}

{% block titulo %}
    <title>Digimon Adventure - Digimons</title>
{% endblock %}

{% block logo %}
    <div class="logo">
        <img src="../static/imgs/logo/logo_adv.png">
    </div>
{% endblock %}

{% block nav %}
    <nav>
            <ul>
                <li>
                <a class="navbar-brand" href="/">
                    <img src="../static/imgs/logo/logo_digi.gif" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                    <span class='brand-text'>Digimundo</span>
                </a>
            </li>
            <li><a href="/adventure">Adventure</a></li>
            <li><a href="/adv_mundo">Mundo</a></li>
            <li><a href="/adv_pers">Personagens</a></li>
            <li><a href="/adv_digi">Digimons</a></li>
            <li><a href="/adv_filme">Filmes</a></li>
        </ul>
    </nav>
{% endblock %}

{% block audio %}
    <audio autoplay loop>
        <source src="../static/audio/adv_ost.mp3" type="audio/mpeg">
    </audio>
{% endblock %}

{% block main %}
    <h1>Os Companheiros Digitais</h1>
    <p>Esperando ansiosamente para conhecer seus parceiros, os 8 Digimons aguardaram seus amigos por muito tempo até começarem suas 
        aventuras no Digimundo. Em Adventure, nos foi apresentado os <b>Estágios Evolutivos</b> dos Digimons, que evoluiam com a ajuda do 
        Digivice: Bebê - Treinamento - Novato - Campeão - Perfeito - Extremo, porém apenas Agumon e Gabumon atingiram a forma Extrema no anime.
        Para ver a informação de um Parceiro específico, escolha abaixo:
    </p>
    <div class="amostra">
        <h1>Agumon</h1>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/pers/taichi.png">
            </div>
            <div class="wiki">
                <p><b>Botamon:</b> </p><br>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/pers/taichi.png">
            </div>
            <div class="wiki">
                <p><b>Koromon:</b> </p><br>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/pers/taichi.png">
            </div>
            <div class="wiki">
                <p><b>Agumon:</b> </p><br>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/pers/taichi.png">
            </div>
            <div class="wiki">
                <p><b>Greymon:</b> </p><br>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/pers/taichi.png">
            </div>
            <div class="wiki">
                <p><b>MetalGreymon:</b> </p><br>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/pers/taichi.png">
            </div>
            <div class="wiki">
                <p><b>WarGreymon:</b> </p><br>
            </div>
        </div>
        <h1>Gabumon</h1>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/pers/taichi.png">
            </div>
            <div class="wiki">
                <p><b>Punimon:</b> </p><br>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/pers/taichi.png">
            </div>
            <div class="wiki">
                <p><b>Tsunomon:</b> </p><br>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/pers/taichi.png">
            </div>
            <div class="wiki">
                <p><b>Gabumon:</b> </p><br>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/pers/taichi.png">
            </div>
            <div class="wiki">
                <p><b>Garurumon:</b> </p><br>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/pers/taichi.png">
            </div>
            <div class="wiki">
                <p><b>WereGarurumon:</b> </p><br>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/pers/taichi.png">
            </div>
            <div class="wiki">
                <p><b>MetalGarurumon:</b> </p><br>
            </div>
        </div>
        <h1>Piyomon</h1>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/pers/taichi.png">
            </div>
            <div class="wiki">
                <p><b>Nyokimon:</b> </p><br>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/pers/taichi.png">
            </div>
            <div class="wiki">
                <p><b>Piyocomon:</b> </p><br>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/pers/taichi.png">
            </div>
            <div class="wiki">
                <p><b>Piyomon:</b> </p><br>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/pers/taichi.png">
            </div>
            <div class="wiki">
                <p><b>Birdramon:</b> </p><br>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/pers/taichi.png">
            </div>
            <div class="wiki">
                <p><b>Garudamon:</b> </p><br>
            </div>
        </div>
        <h1>Tentomon</h1>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/pers/taichi.png">
            </div>
            <div class="wiki">
                <p><b>Pabumon:</b> </p><br>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/pers/taichi.png">
            </div>
            <div class="wiki">
                <p><b>Motimon:</b> </p><br>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/pers/taichi.png">
            </div>
            <div class="wiki">
                <p><b>Tentomon:</b> </p><br>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/pers/taichi.png">
            </div>
            <div class="wiki">
                <p><b>Kabuterimon:</b> </p><br>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/pers/taichi.png">
            </div>
            <div class="wiki">
                <p><b>AtlurKabuterimon:</b> </p><br>
            </div>
        </div>
        <h1>Palmon</h1>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/pers/taichi.png">
            </div>
            <div class="wiki">
                <p><b>Yuramon:</b> </p><br>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/pers/taichi.png">
            </div>
            <div class="wiki">
                <p><b>Tanemon:</b> </p><br>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/pers/taichi.png">
            </div>
            <div class="wiki">
                <p><b>Palmon:</b> </p><br>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/pers/taichi.png">
            </div>
            <div class="wiki">
                <p><b>Togemon:</b> </p><br>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/pers/taichi.png">
            </div>
            <div class="wiki">
                <p><b>Lillymon:</b> </p><br>
            </div>
        </div>
        <h1>Gomamon</h1>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/pers/taichi.png">
            </div>
            <div class="wiki">
                <p><b>Pichimon:</b> </p><br>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/pers/taichi.png">
            </div>
            <div class="wiki">
                <p><b>Pukamon:</b> </p><br>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/pers/taichi.png">
            </div>
            <div class="wiki">
                <p><b>Gomamon:</b> </p><br>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/pers/taichi.png">
            </div>
            <div class="wiki">
                <p><b>Ikkakumon:</b> </p><br>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/pers/taichi.png">
            </div>
            <div class="wiki">
                <p><b>Zudomon:</b> </p><br>
            </div>
        </div>
        <h1>Patamon</h1>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/pers/taichi.png">
            </div>
            <div class="wiki">
                <p><b>Poyomon:</b> </p><br>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/pers/taichi.png">
            </div>
            <div class="wiki">
                <p><b>Tokomon:</b> </p><br>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/pers/taichi.png">
            </div>
            <div class="wiki">
                <p><b>Patamon:</b> </p><br>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/pers/taichi.png">
            </div>
            <div class="wiki">
                <p><b>Angemon:</b> </p><br>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/pers/taichi.png">
            </div>
            <div class="wiki">
                <p><b>HolyAngemon:</b> </p><br>
            </div>
        </div>
        <h1>Tailmon</h1>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/pers/taichi.png">
            </div>
            <div class="wiki">
                <p><b>YukimiBotamon:</b> </p><br>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/pers/taichi.png">
            </div>
            <div class="wiki">
                <p><b>Nyaromon:</b> </p><br>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/pers/taichi.png">
            </div>
            <div class="wiki">
                <p><b>Plotmon:</b> </p><br>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/pers/taichi.png">
            </div>
            <div class="wiki">
                <p><b>Tailmon:</b> </p><br>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/pers/taichi.png">
            </div>
            <div class="wiki">
                <p><b>Angewomon:</b> </p><br>
            </div>
        </div>
    </div>
{% endblock %}