<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digimundo - Adventure</title>
</head>
<body>
    <h1>O início de tudo</h1>
    <p>Digimon Adventure lançou em 1999 e criou a base para as diferentes temporadas que seguiram até hoje.</p><br>
    <p>Para entender sobre algo específico desta Temporada, escolha as opções abaixo:</p>
    <p>Caso queira procurar informações sobre o Reboot criado em 2020, <a href="/reboot">clique aqui.</a></p>
    <a href="/adv_mundo">Explicação de Mundo</a>
    <a href="/adv_pers">Personagens</a>
    <a href="/adv_digi">Digimons</a>
    <a href="/adv_filme">Filmes</a>
    <a href="/">Voltar para a página principal</a>
</body>
</html>