{% extends 'base.html' %}

{% block titulo %}
    <title>Digimundo - Adventure:</title>
{% endblock %}

{% block logo %}
    <div class="logo">
        <img src="../static/imgs/logo/logo_reboot.png">
    </div>
{% endblock %}

{% block audio %}
    <audio autoplay loop>
        <source src="../static/audio/reboot_ost.mp3" type="audio/mpeg">
    </audio>
{% endblock %}

{% block nav %}
            <li><a href='/adventure'>Adventure</a></li>
            <li><a href="/reboot">Reboot</a></li>
{% endblock %}

{% block main %}
    <h1>Uma reimaginação do início</h1>
    <p>Em 2020, durante a pandemia do COVID-19, foi lançado na TV japonesa o anime Digimon Adventure: (apelidade de Reboot ou Digimon 2020) 
        contando uma reimaginação da primeira aventura dos 8 primeiros Digi-Escolhidos de Adventure, em uma aventura e Digimundo completamente 
        diferentes. Em sua base, Adventure: utiliza os mesmos personagens, com as mesmas personalidades e mesmos parceiros, porém algumas coisas, 
        como é normal de um "Reboot", estão levemente diferentes. Confira as principais mudanças abaixo:
    </p>
    <div class="amostra">
        <h1>Dispositivos Auxiliares</h1>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/digi/bota.png">
            </div>
            <div class="wiki">
                <p><b>Digivice:</b> O novo Digivice possui as mesmas funcionalidades do antigo. A única diferença é a parte redonda, que agora é um visor de LED, 
                que pisca na cor dos Brasões de cada criança, fazendo com que não exista a necessidade de se ter o colar onde eram colocados as Placas de Brasão.</p>
            </div>
        </div>
        <h1>Novos Designs</h1>
        <p>Todos os Digi-Escolhidos receberam uma "repaginada" no visual, deixando as partas mais marcantes de seus designs intactos, porém 
            ainda assim modernizando as roupas das crianças para a atualidade.
        </p>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/digi/bota.png">
                <p>Taichi Yagami</p>
            </div>
            <div class="foto">
                <img src="../static/imgs/adv/digi/bota.png">
                <p>Yamato Ishida</p>
            </div>
            <div class="foto">
                <img src="../static/imgs/adv/digi/bota.png">
                <p>Sora Takenouchi</p>
            </div>
            <div class="foto">
                <img src="../static/imgs/adv/digi/bota.png">
                <p>Koshiro Izumi</p>
            </div>
            <div class="foto">
                <img src="../static/imgs/adv/digi/bota.png">
                <p>Mimi Tachikawa</p>
            </div>
            <div class="foto">
                <img src="../static/imgs/adv/digi/bota.png">
                <p>Jou Kido</p>
            </div>
            <div class="foto">
                <img src="../static/imgs/adv/digi/bota.png">
                <p>Takeru Takaishi</p>
            </div>
            <div class="foto">
                <img src="../static/imgs/adv/digi/bota.png">
                <p>Hikari Yagami</p>
            </div>
        </div>
        <h1>Mega Evoluções</h1>
        <p>Diferenemente, da temporada original, todas as crianças conseguem fazer seus parceiros alcançarem o nível Extremo, assim como em 
            Digimon Adventure Tri. Aqui estão suas novas formas:
        </p>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/digi/bota.png">
                <p>Houomon</p>
            </div>
            <div class="foto">
                <img src="../static/imgs/adv/digi/bota.png">
                <p>HerakleKabuterimon</p>
            </div>
            <div class="foto">
                <img src="../static/imgs/adv/digi/bota.png">
                <p>Rosemon</p>
            </div>
            <div class="foto">
                <img src="../static/imgs/adv/digi/bota.png">
                <p>Vikemon</p>
            </div>
            <div class="foto">
                <img src="../static/imgs/adv/digi/bota.png">
                <p>Seraphimon</p>
            </div>
            <div class="foto">
                <img src="../static/imgs/adv/digi/bota.png">
                <p>Holydramon</p>
            </div>
        </div>
        <h1>Evoluções Inéditas</h1>
        <p>Algo que diferenciava Adventure: eram suas evoluções alternativas. Dependendo da situação do Digimon, ou de seu ambiente, ele 
            poderia evoluir para outro Digimon, fazendo referência as várias linhas evolutivas que existiam nos Virtual Pets.
        </p>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/digi/bota.png">
            </div>
            <div class="wiki">
                <p><b>BlitzGreymon:</b> Evolução Extrema alternativa de Agumon. Ao entrar em contato com uma forte corrente elétrica durante sua evolução, Agumon 
                evoluir em BlitzGreymon, ao invés de WarGreymon. Nesta forma, ele possui dois canhões e asas a jato que utiliza para voar.
                </p>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/digi/bota.png">
            </div>
            <div class="wiki">
                <p><b>CresGarurumon:</b> Evolução Extrema alternativa de Gabumon. Ao entrar em contato com uma espada antiga, Gabumon se torna o cavaleiro dourado 
                    CresGarurumon, ao invés de MetalGarurumon. Nesta forma, ele possui uma armadura resistente e volta a ser bípede, agora com duas espadas enormes, uma 
                    em cada mão.
                </p>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/digi/bota.png">
            </div>
            <div class="wiki">
                <p><b>Omegamon Alter B:</b> Fusão alternativa entre BlitzGreymon e CresGarurumon. Aparece como uma contraparte oposta de Omegamon. Agora, os papéis estão trocados. 
                    O lado da Coragem agora é um Canhão Escarlate, enquanto o lado da Amizade se tornou a Lâmina Dourada.
                </p>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/digi/bota.png">
            </div>
            <div class="wiki">
                <p><b>Pegasumon:</b> Evolução Adulta alternativa de Patamon. Por estar com seu poder divino selado e não poder evoluir para Angemon, Patamon utiliza sua 
                    força de vontade para proteger Takeru e se torna Pegasumon. É importante lembrar que esta evolução é diferente do Pegasumon de Adventure 02, pois aqui não 
                    existem Digimentals.
                </p>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/digi/bota.png">
            </div>
            <div class="wiki">
                <p><b>Goddramon:</b> Evolução Extrema alternativa de Patamon. Para derrotar um mal antigo, Patamon utiliza sua força divina ancestral para se transformar em uma 
                    besta sagrada gigantesca.
                </p>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/digi/bota.png">
            </div>
            <div class="wiki">
                <p><b>Ophanimon:</b> Evolução Extrema alternativa de Tailmon. Para ser a parte feminina em contraparte a Seraphimon (assim como Holydramon é para Goddramon), Tailmon utiliza 
                    seu poder divino para se tornar uma humanóide angelical equipada com uma armadura de jade e um arpão dourado.
                </p>
            </div>
        </div>
    </div>
{% endblock %}