{% extends 'base.html' %}

{% block titulo %}
    <title>Digimundo - Adventure Tri</title>
{% endblock %}

{% block logo %}
    <div class="logo">
        <img src="../static/imgs/logo/logo_tri.png">
    </div>
{% endblock %}

{% block audio %}
    <audio autoplay loop>
        <source src="../static/audio/tri_ost.mp3" type="audio/mpeg">
    </audio>
{% endblock %}

{% block nav %}
    <nav>
        <ul>
            <li>
                <a class="navbar-brand" href="/">
                    <img src="../static/imgs/logo/logo_digi.gif" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                    <span class="brand-text">Digimundo</span>
                </a>
            </li>
            <li><a href='/adventure'>Adventure</a></li>
            <li><a href="/tri">Tri</a></li>
        </ul>
    </nav>
{% endblock %}

{% block main %}
    <h1>Uma continuação mais madura</h1>
    <p>Visando continuar a história dos 8 Digi-Escolhidos após o fim de Adventure 02, foram lançados 6 filmes da franquia Digimon Adventure Tri. 
        Aqui, uma nova Digi-Escolhida, Mei e sua parceira Meicoomon, estão sendo atormentadas pelos deuses do Digimundo, Homeostase e Yggdrasil, e seus 
        subordinados, Jesmon e os Royal Knights, respectivamente, e cabe aos 8 primeiros escolhidos passarem por uma jornada de amadurecimento e 
        sacrifício para ajudar sua nova amiga.
    </p>
    <div class="amostra">
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/pers/taichi.png">
                <p>Reunião</p>
            </div>
            <div class="foto">
                <img src="../static/imgs/adv/pers/taichi.png">
                <p>Determinação</p>
            </div>
            <div class="foto">
                <img src="../static/imgs/adv/pers/taichi.png">
                <p>Confissão</p>
            </div>
            <div class="foto">
                <img src="../static/imgs/adv/pers/taichi.png">
                <p>Perda</p>
            </div>
            <div class="foto">
                <img src="../static/imgs/adv/pers/taichi.png">
                <p>Coexistência</p>
            </div>
            <div class="foto">
                <img src="../static/imgs/adv/pers/taichi.png">
                <p>Futuro</p>
            </div>
        </div>
        <h1>Novidades e Mudanças</h1>
        <p>Além da nova Digi-Escolhida e sua Digimon, todos os digimons principais, além de Agumon e Gabumon alcançam suas formas Extremas.</p>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/digi/bota.png">
            </div>
            <div class="wiki">
                <p><b>Mei:</b> O novo Digivice possui as mesmas funcionalidades do antigo. A única diferença é a parte redonda, que agora é um visor de LED, 
                que pisca na cor dos Brasões de cada criança, fazendo com que não exista a necessidade de se ter o colar onde eram colocados as Placas de Brasão.</p>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/digi/bota.png">
            </div>
            <div class="wiki">
                <p><b>Meicoomon:</b> O novo Digivice possui as mesmas funcionalidades do antigo. A única diferença é a parte redonda, que agora é um visor de LED, 
                que pisca na cor dos Brasões de cada criança, fazendo com que não exista a necessidade de se ter o colar onde eram colocados as Placas de Brasão.</p>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/digi/bota.png">
            </div>
            <div class="wiki">
                <p><b>Houomon:</b> O novo Digivice possui as mesmas funcionalidades do antigo. A única diferença é a parte redonda, que agora é um visor de LED, 
                que pisca na cor dos Brasões de cada criança, fazendo com que não exista a necessidade de se ter o colar onde eram colocados as Placas de Brasão.</p>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/digi/bota.png">
            </div>
            <div class="wiki">
                <p><b>HerakleKabuterimon:</b> O novo Digivice possui as mesmas funcionalidades do antigo. A única diferença é a parte redonda, que agora é um visor de LED, 
                que pisca na cor dos Brasões de cada criança, fazendo com que não exista a necessidade de se ter o colar onde eram colocados as Placas de Brasão.</p>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/digi/bota.png">
            </div>
            <div class="wiki">
                <p><b>Rosemon:</b> O novo Digivice possui as mesmas funcionalidades do antigo. A única diferença é a parte redonda, que agora é um visor de LED, 
                que pisca na cor dos Brasões de cada criança, fazendo com que não exista a necessidade de se ter o colar onde eram colocados as Placas de Brasão.</p>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/digi/bota.png">
            </div>
            <div class="wiki">
                <p><b>Vikemon:</b> O novo Digivice possui as mesmas funcionalidades do antigo. A única diferença é a parte redonda, que agora é um visor de LED, 
                que pisca na cor dos Brasões de cada criança, fazendo com que não exista a necessidade de se ter o colar onde eram colocados as Placas de Brasão.</p>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/digi/bota.png">
            </div>
            <div class="wiki">
                <p><b>Seraphimon:</b> O novo Digivice possui as mesmas funcionalidades do antigo. A única diferença é a parte redonda, que agora é um visor de LED, 
                que pisca na cor dos Brasões de cada criança, fazendo com que não exista a necessidade de se ter o colar onde eram colocados as Placas de Brasão.</p>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/digi/bota.png">
            </div>
            <div class="wiki">
                <p><b>Holydramon:</b> O novo Digivice possui as mesmas funcionalidades do antigo. A única diferença é a parte redonda, que agora é um visor de LED, 
                que pisca na cor dos Brasões de cada criança, fazendo com que não exista a necessidade de se ter o colar onde eram colocados as Placas de Brasão.</p>
            </div>
        </div>
    </div>
{% endblock %}