{% extends 'base.html' %}

{% block titulo %}
    <title>Digimon Adventure 02 - Digimons</title>
{% endblock %}

{% block logo %}
    <div class="logo">
        <img src="../static/imgs/logo/logo_02.png">
    </div>
{% endblock %}

{% block audio %}
    <audio autoplay loop>
        <source src="../static/audio/02_ost.mp3" type="audio/mpeg">
    </audio>
{% endblock %}

{% block main %}
    <h1>Os Novos Companheiros</h1>
    <p>Esperando ansiosamente para conhecer seus parceiros, os 8 Digimons aguardaram seus amigos por muito tempo até começarem suas 
        aventuras no Digimundo. Em Adventure 02, além dos Estágios Evolutivos que já conhecíamos, agora temos mais dois intitulados Armor e Jogress, 
        com a ajuda dos Digimentals e das Fusões. Em Adventure 02, os Digimons não atingem as formas Perfeita ou Extrema. 
        Para ver a informação de um Parceiro específico, escolha abaixo:
    </p>
    <div class="d-flex flex-row align-items-center justify-content-center">
        <a href="#vee" class="btn img-button digi-btn digi-img-9"></a>
        <a href="#hawk" class="btn img-button digi-btn digi-img-10"></a>
        <a href="#armadi" class="btn img-button digi-btn digi-img11"></a>
        <a href="#pata" class="btn img-button digi-btn digi-img-7"></a>
        <a href="#tail" class="btn img-button digi-btn digi-img-8"></a>
        <a href="#worm" class="btn img-button digi-btn digi-img-12"></a>

    </div>
    <div class="amostra">
        <h1 id="vee">Veemon</h1>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/digi/bota.png">
            </div>
            <div class="wiki">
                <p><b>Chibimon:</b> Forma Bebê de Agumon, nascido recentemente de seu ovo. Possui uma textura gelatinosa e só pode reproduzir sons simples, como 
                assobios ou a primeira sílaba de seu nome. Sua técnica especial são as Bolhas, bolhinhas de sabão que solta pela sua boca para confundir um predador.</p>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/digi/bota.png">
            </div>
            <div class="wiki">
                <p><b>DemiVeemon:</b> Forma Bebê de Agumon, nascido recentemente de seu ovo. Possui uma textura gelatinosa e só pode reproduzir sons simples, como 
                assobios ou a primeira sílaba de seu nome. Sua técnica especial são as Bolhas, bolhinhas de sabão que solta pela sua boca para confundir um predador.</p>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/digi/bota.png">
            </div>
            <div class="wiki">
                <p><b>Veemon:</b> Forma Bebê de Agumon, nascido recentemente de seu ovo. Possui uma textura gelatinosa e só pode reproduzir sons simples, como 
                assobios ou a primeira sílaba de seu nome. Sua técnica especial são as Bolhas, bolhinhas de sabão que solta pela sua boca para confundir um predador.</p>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/digi/bota.png">
            </div>
            <div class="wiki">
                <p><b>Flamedramon:</b> Forma Bebê de Agumon, nascido recentemente de seu ovo. Possui uma textura gelatinosa e só pode reproduzir sons simples, como 
                assobios ou a primeira sílaba de seu nome. Sua técnica especial são as Bolhas, bolhinhas de sabão que solta pela sua boca para confundir um predador.</p>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/digi/bota.png">
            </div>
            <div class="wiki">
                <p><b>Lightdramon:</b> Forma Bebê de Agumon, nascido recentemente de seu ovo. Possui uma textura gelatinosa e só pode reproduzir sons simples, como 
                assobios ou a primeira sílaba de seu nome. Sua técnica especial são as Bolhas, bolhinhas de sabão que solta pela sua boca para confundir um predador.</p>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/digi/bota.png">
            </div>
            <div class="wiki">
                <p><b>Magnamon:</b> Forma Bebê de Agumon, nascido recentemente de seu ovo. Possui uma textura gelatinosa e só pode reproduzir sons simples, como 
                assobios ou a primeira sílaba de seu nome. Sua técnica especial são as Bolhas, bolhinhas de sabão que solta pela sua boca para confundir um predador.</p>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/digi/bota.png">
            </div>
            <div class="wiki">
                <p><b>ExVeemon:</b> Forma Bebê de Agumon, nascido recentemente de seu ovo. Possui uma textura gelatinosa e só pode reproduzir sons simples, como 
                assobios ou a primeira sílaba de seu nome. Sua técnica especial são as Bolhas, bolhinhas de sabão que solta pela sua boca para confundir um predador.</p>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/digi/bota.png">
            </div>
            <div class="wiki">
                <p><b>Paildramon:</b> Forma Bebê de Agumon, nascido recentemente de seu ovo. Possui uma textura gelatinosa e só pode reproduzir sons simples, como 
                assobios ou a primeira sílaba de seu nome. Sua técnica especial são as Bolhas, bolhinhas de sabão que solta pela sua boca para confundir um predador.</p>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/digi/bota.png">
            </div>
            <div class="wiki">
                <p><b>Imperialdramon:</b> Forma Bebê de Agumon, nascido recentemente de seu ovo. Possui uma textura gelatinosa e só pode reproduzir sons simples, como 
                assobios ou a primeira sílaba de seu nome. Sua técnica especial são as Bolhas, bolhinhas de sabão que solta pela sua boca para confundir um predador.</p>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/digi/bota.png">
            </div>
            <div class="wiki">
                <p><b>Imperialdramon (Forma Guerreira):</b> Forma Bebê de Agumon, nascido recentemente de seu ovo. Possui uma textura gelatinosa e só pode reproduzir sons simples, como 
                assobios ou a primeira sílaba de seu nome. Sua técnica especial são as Bolhas, bolhinhas de sabão que solta pela sua boca para confundir um predador.</p>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/digi/bota.png">
            </div>
            <div class="wiki">
                <p><b>Imperialdramon (Modo Paladino):</b> Forma Bebê de Agumon, nascido recentemente de seu ovo. Possui uma textura gelatinosa e só pode reproduzir sons simples, como 
                assobios ou a primeira sílaba de seu nome. Sua técnica especial são as Bolhas, bolhinhas de sabão que solta pela sua boca para confundir um predador.</p>
            </div>
        </div>
        <h1 id="hawk">Hawkmon</h1>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/digi/bota.png">
            </div>
            <div class="wiki">
                <p><b>Pururumon:</b> Forma Bebê de Agumon, nascido recentemente de seu ovo. Possui uma textura gelatinosa e só pode reproduzir sons simples, como 
                assobios ou a primeira sílaba de seu nome. Sua técnica especial são as Bolhas, bolhinhas de sabão que solta pela sua boca para confundir um predador.</p>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/digi/bota.png">
            </div>
            <div class="wiki">
                <p><b>Poromon:</b> Forma Bebê de Agumon, nascido recentemente de seu ovo. Possui uma textura gelatinosa e só pode reproduzir sons simples, como 
                assobios ou a primeira sílaba de seu nome. Sua técnica especial são as Bolhas, bolhinhas de sabão que solta pela sua boca para confundir um predador.</p>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/digi/bota.png">
            </div>
            <div class="wiki">
                <p><b>Hawkmon:</b> Forma Bebê de Agumon, nascido recentemente de seu ovo. Possui uma textura gelatinosa e só pode reproduzir sons simples, como 
                assobios ou a primeira sílaba de seu nome. Sua técnica especial são as Bolhas, bolhinhas de sabão que solta pela sua boca para confundir um predador.</p>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/digi/bota.png">
            </div>
            <div class="wiki">
                <p><b>Holsmon:</b> Forma Bebê de Agumon, nascido recentemente de seu ovo. Possui uma textura gelatinosa e só pode reproduzir sons simples, como 
                assobios ou a primeira sílaba de seu nome. Sua técnica especial são as Bolhas, bolhinhas de sabão que solta pela sua boca para confundir um predador.</p>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/digi/bota.png">
            </div>
            <div class="wiki">
                <p><b>Shurimon:</b> Forma Bebê de Agumon, nascido recentemente de seu ovo. Possui uma textura gelatinosa e só pode reproduzir sons simples, como 
                assobios ou a primeira sílaba de seu nome. Sua técnica especial são as Bolhas, bolhinhas de sabão que solta pela sua boca para confundir um predador.</p>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/digi/bota.png">
            </div>
            <div class="wiki">
                <p><b>Aquilamon:</b> Forma Bebê de Agumon, nascido recentemente de seu ovo. Possui uma textura gelatinosa e só pode reproduzir sons simples, como 
                assobios ou a primeira sílaba de seu nome. Sua técnica especial são as Bolhas, bolhinhas de sabão que solta pela sua boca para confundir um predador.</p>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/digi/bota.png">
            </div>
            <div class="wiki">
                <p><b>Silphymon:</b> Forma Bebê de Agumon, nascido recentemente de seu ovo. Possui uma textura gelatinosa e só pode reproduzir sons simples, como 
                assobios ou a primeira sílaba de seu nome. Sua técnica especial são as Bolhas, bolhinhas de sabão que solta pela sua boca para confundir um predador.</p>
            </div>
        </div>
        <h1 id="armadi">Armadimon</h1>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/digi/bota.png">
            </div>
            <div class="wiki">
                <p><b>Tsubumon:</b> Forma Bebê de Agumon, nascido recentemente de seu ovo. Possui uma textura gelatinosa e só pode reproduzir sons simples, como 
                assobios ou a primeira sílaba de seu nome. Sua técnica especial são as Bolhas, bolhinhas de sabão que solta pela sua boca para confundir um predador.</p>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/digi/bota.png">
            </div>
            <div class="wiki">
                <p><b>Upamon:</b> Forma Bebê de Agumon, nascido recentemente de seu ovo. Possui uma textura gelatinosa e só pode reproduzir sons simples, como 
                assobios ou a primeira sílaba de seu nome. Sua técnica especial são as Bolhas, bolhinhas de sabão que solta pela sua boca para confundir um predador.</p>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/digi/bota.png">
            </div>
            <div class="wiki">
                <p><b>Armadimon:</b> Forma Bebê de Agumon, nascido recentemente de seu ovo. Possui uma textura gelatinosa e só pode reproduzir sons simples, como 
                assobios ou a primeira sílaba de seu nome. Sua técnica especial são as Bolhas, bolhinhas de sabão que solta pela sua boca para confundir um predador.</p>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/digi/bota.png">
            </div>
            <div class="wiki">
                <p><b>Digmon:</b> Forma Bebê de Agumon, nascido recentemente de seu ovo. Possui uma textura gelatinosa e só pode reproduzir sons simples, como 
                assobios ou a primeira sílaba de seu nome. Sua técnica especial são as Bolhas, bolhinhas de sabão que solta pela sua boca para confundir um predador.</p>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/digi/bota.png">
            </div>
            <div class="wiki">
                <p><b>Submarimon:</b> Forma Bebê de Agumon, nascido recentemente de seu ovo. Possui uma textura gelatinosa e só pode reproduzir sons simples, como 
                assobios ou a primeira sílaba de seu nome. Sua técnica especial são as Bolhas, bolhinhas de sabão que solta pela sua boca para confundir um predador.</p>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/digi/bota.png">
            </div>
            <div class="wiki">
                <p><b>Ankylamon:</b> Forma Bebê de Agumon, nascido recentemente de seu ovo. Possui uma textura gelatinosa e só pode reproduzir sons simples, como 
                assobios ou a primeira sílaba de seu nome. Sua técnica especial são as Bolhas, bolhinhas de sabão que solta pela sua boca para confundir um predador.</p>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/digi/bota.png">
            </div>
            <div class="wiki">
                <p><b>Shakkoumon:</b> Forma Bebê de Agumon, nascido recentemente de seu ovo. Possui uma textura gelatinosa e só pode reproduzir sons simples, como 
                assobios ou a primeira sílaba de seu nome. Sua técnica especial são as Bolhas, bolhinhas de sabão que solta pela sua boca para confundir um predador.</p>
            </div>
        </div>
        <h1 id="pata">Patamon</h1>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/digi/poyo.png">
            </div>
            <div class="wiki">
                <p><b>Poyomon:</b> Ao nascer como Bebê de um ovo, Poyomon é uma pequena água-viva que pode planar usando a força de seu corpo, podendo até voar pelos céus sem problemas, facilmente 
                despistando inimigos. Sua ténica são as pequenas Bolhas de Sabão.</p>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/digi/toko.png">
            </div>
            <div class="wiki">
                <p><b>Tokomon:</b> A forma Em Treinamento de Patamon, um pequeno roedor branquinho. Mesmo que possa parecer inofensivo por sua fofura, Tokomon esconde vários dentes afiados em sua boca, que 
                pode usar para se defender de quem chegar perto demais. Sua técnica especial são as Bolhas.</p>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/digi/pata.png">
            </div>
            <div class="wiki">
                <p><b>Patamon:</b> Patamon, em sua forma Novata, é um pequeno roedor com asas. É ágil e sempre está disposto a defender seu parceiro, Takeru, ao qual compartilha a inocência do 
                grupo. Sua técnica especial é a Bolha de Ar, a qual cospe no inimigo com bastante potência.</p>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/digi/holyange.png">
            </div>
            <div class="wiki">
                <p><b>Pegasumon:</b> Em sua forma Perfeita e mais forte, Patamon se torna um paladino angelical usando o poder do Brasão da Esperança. Holyangemon possui uma armadura 
                    e um escudo, juntamente com sua espada que guarda em seu braço, a Excalibur. Seu golpe mais poderoso é o Portal do Destino, que abre uma dimensão paralela que suga odo o mal.</p>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/digi/ange.png">
            </div>
            <div class="wiki">
                <p><b>Angemon:</b> Ao atingir a forma Campeã, Patamon se transforma em um anjo adulto. Angemon possui um cajado sagrado que usa de arma para se defender e para carregar seus 
                ataques. Seu ataque mais forte é a Mão do Destino, ao qual descarrega sua força divina em um soco.</p>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/digi/angewo.png">
            </div>
            <div class="wiki">
                <p><b>Shakkoumon:</b> A forma Perfeita e mais forte de Tailmon, ao evoluir com o Brasão da Luz. Consguindo uma aparência humanóide e angelical, defende sua parceira Hikari com o poder 
                da luz divina. Seu ataque especial é a Flecha Celestial, onde usa seu poder divino para atirar uma flecha em um inimigo.</p>
            </div>
        </div>
        <h1 id="tail">Tailmon</h1>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/digi/yukimibota.png">
            </div>
            <div class="wiki">
                <p><b>YukimiBotamon:</b> A forma Bebê de Tailmon, num formato parecido com um Botamon, mas revestido de pelos brancos e frios. Vive em ambientes gelados e ataca predadores 
                com sua técnica Bolas de Neve, que cospe de sua boca.</p>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/digi/nyaro.png">
            </div>
            <div class="wiki">
                <p><b>Nyaromon:</b> Em sua forma Em Treinamento, começa a ter uma aparência mais animalesca, aqui se assemelhando a uma pequena gata. Utilizando seu Rabo Chicote, Nyaromon se 
                defende de vários predadores com um único golpe.</p>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/digi/plot.png">
            </div>
            <div class="wiki">
                <p><b>Plotmon:</b> Em sua forma Novata, ganha uma aparência canina. Plotmon possui em seu pescoço o Anel Sagrado, que usa de coleira. Com seu Rugido do Filhote pode se defender 
                de inimigos enormes ao ensurdecê-los.</p>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/digi/tail.png">
            </div>
            <div class="wiki">
                <p><b>Tailmon:</b> Na forma Campeã e mais comum, Tailmon volta a ter uma aparênica felina. Seu Anel Sagrado agora se localiza em seu rabo. Suas luvas, funcionam como luvas de boxe, 
                intensificando o poder de seu Punho de Gato.</p>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/digi/angewo.png">
            </div>
            <div class="wiki">
                <p><b>Nefertimon:</b> A forma Perfeita e mais forte de Tailmon, ao evoluir com o Brasão da Luz. Consguindo uma aparência humanóide e angelical, defende sua parceira Hikari com o poder 
                da luz divina. Seu ataque especial é a Flecha Celestial, onde usa seu poder divino para atirar uma flecha em um inimigo.</p>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/digi/angewo.png">
            </div>
            <div class="wiki">
                <p><b>Silphymon:</b> A forma Perfeita e mais forte de Tailmon, ao evoluir com o Brasão da Luz. Consguindo uma aparência humanóide e angelical, defende sua parceira Hikari com o poder 
                da luz divina. Seu ataque especial é a Flecha Celestial, onde usa seu poder divino para atirar uma flecha em um inimigo.</p>
            </div>
        </div>
        <h1 id="worm">Wormmon</h1>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/digi/angewo.png">
            </div>
            <div class="wiki">
                <p><b>Leafmon:</b> A forma Perfeita e mais forte de Tailmon, ao evoluir com o Brasão da Luz. Consguindo uma aparência humanóide e angelical, defende sua parceira Hikari com o poder 
                da luz divina. Seu ataque especial é a Flecha Celestial, onde usa seu poder divino para atirar uma flecha em um inimigo.</p>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/digi/angewo.png">
            </div>
            <div class="wiki">
                <p><b>Minomon:</b> A forma Perfeita e mais forte de Tailmon, ao evoluir com o Brasão da Luz. Consguindo uma aparência humanóide e angelical, defende sua parceira Hikari com o poder 
                da luz divina. Seu ataque especial é a Flecha Celestial, onde usa seu poder divino para atirar uma flecha em um inimigo.</p>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/digi/angewo.png">
            </div>
            <div class="wiki">
                <p><b>Wormmon:</b> A forma Perfeita e mais forte de Tailmon, ao evoluir com o Brasão da Luz. Consguindo uma aparência humanóide e angelical, defende sua parceira Hikari com o poder 
                da luz divina. Seu ataque especial é a Flecha Celestial, onde usa seu poder divino para atirar uma flecha em um inimigo.</p>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/digi/angewo.png">
            </div>
            <div class="wiki">
                <p><b>Stingmon:</b> A forma Perfeita e mais forte de Tailmon, ao evoluir com o Brasão da Luz. Consguindo uma aparência humanóide e angelical, defende sua parceira Hikari com o poder 
                da luz divina. Seu ataque especial é a Flecha Celestial, onde usa seu poder divino para atirar uma flecha em um inimigo.</p>
            </div>
        </div>
    </div>
{% endblock %}