{% extends 'base.html' %}

{% block titulo %}
    <title>Digimon Adventure 02 - Mundo</title>
{% endblock %}

{% block logo %}
    <div class="logo">
        <img src="../static/imgs/logo/logo_02.png">
    </div>
{% endblock %}

{% block audio %}
    <audio autoplay loop>
        <source src="../static/audio/02_ost.mp3" type="audio/mpeg">
    </audio>
{% endblock %}

{% block nav %}
    <nav>
        <ul>
            <li>
                <a class="navbar-brand" href="/">
                    <img src="../static/imgs/logo/logo_digi.gif" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                    <span class="brand-text">Digimundo</span>
                </a>
            </li>
            <li><a href="/02">Adventure 02</a></li>
            <li><a href="/02_mundo">Mundo</a></li>
            <li><a href="/02_pers">Personagens</a></li>
            <li><a href="/02_digi">Digimons</a></li>
            <li><a href="/02_filme">Filmes</a></li>
        </ul>
    </nav>
{% endblock %}

{% block main %}
    <h1>O Mundo Digital - Caos nos dois mundos</h1>
    <p>O "Digimundo" de Adventure possui características tanto fantasiosas, quanto reais. Era comum para nossos heróis, 
        andarem por aí e encontrarem Máquinas de Venda Automáticas, Postes de Luz, Trilhos de Trem e muitas outras coisas
        do nosso mundo. É dito, que em meio aos dados que percorrem o Digimundo, acontece um reflexo do Mundo Real, fazendo com 
        que informações tecnológicas sejam imitadas dentro de um mundo fantasioso em ambientes mais "naturais", jsutamente pelo 
        elo fino entre os dois mundos, onde vários vilões já tramaram em unificá-los várias vezes para comandá-los.</p>
    <h1>Acessórios Digitais</h1>
    <h2>Dispositivos</h2>
    <div class="amostra">
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/02/d3.png">
            </div>
            <div class="wiki">
                <p><b>O D-3:</b> O Digivice (Digital Device) é o acessório mais importante dentro de Digimon, se tornando símbolo da 
                franquia até hoje. O primeiro Digivice tinha 2 funções simples: Se conectar com o parceiro Digimon, juntamente dos Brasões 
                para fazê-lo evoluir; Rastrear outros Digi-Escolhidos caso eles se separassem. Ao conectar Brasão e Digivice, o Digivice ganha a 
                coloração daquele brasão específico.</p><br>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/02/d3.png">
            </div>
            <div class="wiki">
                <p><b>O D-3:</b> O Digivice (Digital Device) é o acessório mais importante dentro de Digimon, se tornando símbolo da 
                franquia até hoje. O primeiro Digivice tinha 2 funções simples: Se conectar com o parceiro Digimon, juntamente dos Brasões 
                para fazê-lo evoluir; Rastrear outros Digi-Escolhidos caso eles se separassem. Ao conectar Brasão e Digivice, o Digivice ganha a 
                coloração daquele brasão específico.</p><br>
            </div>
        </div>
    </div>
    <br>
    <h2>Os Digimentals</h2> <br>
    <div class="amostra">
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/02/ovos/coragem_ovo.png">
            </div>
            <div class="wiki">
                <p><b>O D-3:</b> O Digivice (Digital Device) é o acessório mais importante dentro de Digimon, se tornando símbolo da 
                franquia até hoje. O primeiro Digivice tinha 2 funções simples: Se conectar com o parceiro Digimon, juntamente dos Brasões 
                para fazê-lo evoluir; Rastrear outros Digi-Escolhidos caso eles se separassem. Ao conectar Brasão e Digivice, o Digivice ganha a 
                coloração daquele brasão específico.</p><br>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/02/ovos/amizade_ovo.png">
            </div>
            <div class="wiki">
                <p><b>O D-3:</b> O Digivice (Digital Device) é o acessório mais importante dentro de Digimon, se tornando símbolo da 
                franquia até hoje. O primeiro Digivice tinha 2 funções simples: Se conectar com o parceiro Digimon, juntamente dos Brasões 
                para fazê-lo evoluir; Rastrear outros Digi-Escolhidos caso eles se separassem. Ao conectar Brasão e Digivice, o Digivice ganha a 
                coloração daquele brasão específico.</p><br>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/02/ovos/amor_ovo.png">
            </div>
            <div class="wiki">
                <p><b>O D-3:</b> O Digivice (Digital Device) é o acessório mais importante dentro de Digimon, se tornando símbolo da 
                franquia até hoje. O primeiro Digivice tinha 2 funções simples: Se conectar com o parceiro Digimon, juntamente dos Brasões 
                para fazê-lo evoluir; Rastrear outros Digi-Escolhidos caso eles se separassem. Ao conectar Brasão e Digivice, o Digivice ganha a 
                coloração daquele brasão específico.</p><br>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/02/ovos/sabedoria_ovo.png">
            </div>
            <div class="wiki">
                <p><b>O D-3:</b> O Digivice (Digital Device) é o acessório mais importante dentro de Digimon, se tornando símbolo da 
                franquia até hoje. O primeiro Digivice tinha 2 funções simples: Se conectar com o parceiro Digimon, juntamente dos Brasões 
                para fazê-lo evoluir; Rastrear outros Digi-Escolhidos caso eles se separassem. Ao conectar Brasão e Digivice, o Digivice ganha a 
                coloração daquele brasão específico.</p><br>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/02/ovos/sinceridade_ovo.png">
            </div>
            <div class="wiki">
                <p><b>O D-3:</b> O Digivice (Digital Device) é o acessório mais importante dentro de Digimon, se tornando símbolo da 
                franquia até hoje. O primeiro Digivice tinha 2 funções simples: Se conectar com o parceiro Digimon, juntamente dos Brasões 
                para fazê-lo evoluir; Rastrear outros Digi-Escolhidos caso eles se separassem. Ao conectar Brasão e Digivice, o Digivice ganha a 
                coloração daquele brasão específico.</p><br>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/02/ovos/confianca_ovo.png">
            </div>
            <div class="wiki">
                <p><b>O D-3:</b> O Digivice (Digital Device) é o acessório mais importante dentro de Digimon, se tornando símbolo da 
                franquia até hoje. O primeiro Digivice tinha 2 funções simples: Se conectar com o parceiro Digimon, juntamente dos Brasões 
                para fazê-lo evoluir; Rastrear outros Digi-Escolhidos caso eles se separassem. Ao conectar Brasão e Digivice, o Digivice ganha a 
                coloração daquele brasão específico.</p><br>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/02/ovos/esperanca_ovo.png">
            </div>
            <div class="wiki">
                <p><b>O D-3:</b> O Digivice (Digital Device) é o acessório mais importante dentro de Digimon, se tornando símbolo da 
                franquia até hoje. O primeiro Digivice tinha 2 funções simples: Se conectar com o parceiro Digimon, juntamente dos Brasões 
                para fazê-lo evoluir; Rastrear outros Digi-Escolhidos caso eles se separassem. Ao conectar Brasão e Digivice, o Digivice ganha a 
                coloração daquele brasão específico.</p><br>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/02/ovos/luz_ovo.png">
            </div>
            <div class="wiki">
                <p><b>O D-3:</b> O Digivice (Digital Device) é o acessório mais importante dentro de Digimon, se tornando símbolo da 
                franquia até hoje. O primeiro Digivice tinha 2 funções simples: Se conectar com o parceiro Digimon, juntamente dos Brasões 
                para fazê-lo evoluir; Rastrear outros Digi-Escolhidos caso eles se separassem. Ao conectar Brasão e Digivice, o Digivice ganha a 
                coloração daquele brasão específico.</p><br>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/02/ovos/bondade.png">
            </div>
            <div class="wiki">
                <p><b>O D-3:</b> O Digivice (Digital Device) é o acessório mais importante dentro de Digimon, se tornando símbolo da 
                franquia até hoje. O primeiro Digivice tinha 2 funções simples: Se conectar com o parceiro Digimon, juntamente dos Brasões 
                para fazê-lo evoluir; Rastrear outros Digi-Escolhidos caso eles se separassem. Ao conectar Brasão e Digivice, o Digivice ganha a 
                coloração daquele brasão específico.</p><br>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/02/ovos/bondade_ovo.png">
            </div>
            <div class="wiki">
                <p><b>O D-3:</b> O Digivice (Digital Device) é o acessório mais importante dentro de Digimon, se tornando símbolo da 
                franquia até hoje. O primeiro Digivice tinha 2 funções simples: Se conectar com o parceiro Digimon, juntamente dos Brasões 
                para fazê-lo evoluir; Rastrear outros Digi-Escolhidos caso eles se separassem. Ao conectar Brasão e Digivice, o Digivice ganha a 
                coloração daquele brasão específico.</p><br>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/02/ovos/milagre.png">
            </div>
            <div class="wiki">
                <p><b>O D-3:</b> O Digivice (Digital Device) é o acessório mais importante dentro de Digimon, se tornando símbolo da 
                franquia até hoje. O primeiro Digivice tinha 2 funções simples: Se conectar com o parceiro Digimon, juntamente dos Brasões 
                para fazê-lo evoluir; Rastrear outros Digi-Escolhidos caso eles se separassem. Ao conectar Brasão e Digivice, o Digivice ganha a 
                coloração daquele brasão específico.</p><br>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/02/ovos/milagre_ovo.png">
            </div>
            <div class="wiki">
                <p><b>O D-3:</b> O Digivice (Digital Device) é o acessório mais importante dentro de Digimon, se tornando símbolo da 
                franquia até hoje. O primeiro Digivice tinha 2 funções simples: Se conectar com o parceiro Digimon, juntamente dos Brasões 
                para fazê-lo evoluir; Rastrear outros Digi-Escolhidos caso eles se separassem. Ao conectar Brasão e Digivice, o Digivice ganha a 
                coloração daquele brasão específico.</p><br>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/02/ovos/destino.png">
            </div>
            <div class="wiki">
                <p><b>O D-3:</b> O Digivice (Digital Device) é o acessório mais importante dentro de Digimon, se tornando símbolo da 
                franquia até hoje. O primeiro Digivice tinha 2 funções simples: Se conectar com o parceiro Digimon, juntamente dos Brasões 
                para fazê-lo evoluir; Rastrear outros Digi-Escolhidos caso eles se separassem. Ao conectar Brasão e Digivice, o Digivice ganha a 
                coloração daquele brasão específico.</p><br>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/02/ovos/destino_ovo.png">
            </div>
            <div class="wiki">
                <p><b>O D-3:</b> O Digivice (Digital Device) é o acessório mais importante dentro de Digimon, se tornando símbolo da 
                franquia até hoje. O primeiro Digivice tinha 2 funções simples: Se conectar com o parceiro Digimon, juntamente dos Brasões 
                para fazê-lo evoluir; Rastrear outros Digi-Escolhidos caso eles se separassem. Ao conectar Brasão e Digivice, o Digivice ganha a 
                coloração daquele brasão específico.</p><br>
            </div>
        </div>
    </div>
{% endblock %}