{% extends 'base.html' %}

{% block titulo %}
    <title>Digimon Adventure 02 - Personagens</title>
{% endblock %}

{% block logo %}
    <div class="logo">
        <img src="../static/imgs/logo/logo_02.png">
    </div>
{% endblock %}

{% block audio %}
    <audio autoplay loop>
        <source src="../static/audio/02_ost.mp3" type="audio/mpeg">
    </audio>
{% endblock %}

{% block nav %}
    <nav>
        <ul>
            <li>
                <a class="navbar-brand" href="/">
                    <img src="../static/imgs/logo/logo_digi.gif" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                    <span class="brand-text">Digimundo</span>
                </a>
            </li>
            <li><a href="/02">Adventure 02</a></li>
            <li><a href="/02_mundo">Mundo</a></li>
            <li><a href="/02_pers">Personagens</a></li>
            <li><a href="/02_digi">Digimons</a></li>
            <li><a href="/02_filme">Filmes</a></li>
        </ul>
    </nav>
{% endblock %}

{% block main %}
    <h1>Os novos Digi-Escolhidos</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto alias natus commodi veniam excepturi 
        dicta quo reiciendis repellendus accusantium, maiores dolores eligendi asperiores omnis nostrum vel ea enim impedit cupiditate?
    </p>
    <div class="amostra">
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/pers/taichi.png">
            </div>
            <div class="wiki">
                <p><b>Taichi Yagami:</b> Taichi (ou "Tai Kamiya" como ficou na dublagem ocidental) é o líder dos 8 Digi-escolhidos de Adventure 
                e possui o brasão da Coragem. Taichi é cuidadoso, porém pavio curto e imprudente às vezes, porém sempre coloca todos, especialmente 
                sua irmã mais nova, Hikari, em primeiro lugar. A cor de seu Digivice ao utilizar seu brasão é Laranja e seu perceiro é o Agumon.</p><br>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/pers/taichi.png">
            </div>
            <div class="wiki">
                <p><b>Taichi Yagami:</b> Taichi (ou "Tai Kamiya" como ficou na dublagem ocidental) é o líder dos 8 Digi-escolhidos de Adventure 
                e possui o brasão da Coragem. Taichi é cuidadoso, porém pavio curto e imprudente às vezes, porém sempre coloca todos, especialmente 
                sua irmã mais nova, Hikari, em primeiro lugar. A cor de seu Digivice ao utilizar seu brasão é Laranja e seu perceiro é o Agumon.</p><br>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/pers/taichi.png">
            </div>
            <div class="wiki">
                <p><b>Taichi Yagami:</b> Taichi (ou "Tai Kamiya" como ficou na dublagem ocidental) é o líder dos 8 Digi-escolhidos de Adventure 
                e possui o brasão da Coragem. Taichi é cuidadoso, porém pavio curto e imprudente às vezes, porém sempre coloca todos, especialmente 
                sua irmã mais nova, Hikari, em primeiro lugar. A cor de seu Digivice ao utilizar seu brasão é Laranja e seu perceiro é o Agumon.</p><br>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/pers/taichi.png">
            </div>
            <div class="wiki">
                <p><b>Taichi Yagami:</b> Taichi (ou "Tai Kamiya" como ficou na dublagem ocidental) é o líder dos 8 Digi-escolhidos de Adventure 
                e possui o brasão da Coragem. Taichi é cuidadoso, porém pavio curto e imprudente às vezes, porém sempre coloca todos, especialmente 
                sua irmã mais nova, Hikari, em primeiro lugar. A cor de seu Digivice ao utilizar seu brasão é Laranja e seu perceiro é o Agumon.</p><br>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/pers/taichi.png">
            </div>
            <div class="wiki">
                <p><b>Taichi Yagami:</b> Taichi (ou "Tai Kamiya" como ficou na dublagem ocidental) é o líder dos 8 Digi-escolhidos de Adventure 
                e possui o brasão da Coragem. Taichi é cuidadoso, porém pavio curto e imprudente às vezes, porém sempre coloca todos, especialmente 
                sua irmã mais nova, Hikari, em primeiro lugar. A cor de seu Digivice ao utilizar seu brasão é Laranja e seu perceiro é o Agumon.</p><br>
            </div>
        </div>
        <div class="bloco">
            <div class="foto">
                <img src="../static/imgs/adv/pers/taichi.png">
            </div>
            <div class="wiki">
                <p><b>Taichi Yagami:</b> Taichi (ou "Tai Kamiya" como ficou na dublagem ocidental) é o líder dos 8 Digi-escolhidos de Adventure 
                e possui o brasão da Coragem. Taichi é cuidadoso, porém pavio curto e imprudente às vezes, porém sempre coloca todos, especialmente 
                sua irmã mais nova, Hikari, em primeiro lugar. A cor de seu Digivice ao utilizar seu brasão é Laranja e seu perceiro é o Agumon.</p><br>
            </div>
        </div>
    </div>
{% endblock %}