{% extends 'base.html' %}

{% block main %}
<form action="{{url_for('usuarios.create')}}" method="POST">
  Nickname: <input type="text" name="nome" maxlenght="10"><br/>
  E-mail: <input type="email" name="email" maxlenght="20"><br/>
  Senha: <input type="password" name="senha" pattern='\d*' maxlenght="10"><br/>
  Confirmar senha: <input type="password" name="csenha" pattern='\d*' maxlenght="10"><br/>
  <input type="submit" name="Cadastrar">
  <input type="reset" name="Limpar">
</form>
{% endblock %}