{% extends 'base.html' %}

{% block titulo %}
    <title>Digimundo - Página Inicial</title>
{% endblock %}

{% block logo %}
    <div class="logo">
        <img src="../static/imgs/logo/logo.png">
    </div>
{% endblock %}

{% block audio %}
    <audio autoplay loop>
        <source src="{{ url_for('static', filename='audio/bolero.mp3') }}" type='audio/mpeg'>
    </audio>
{% endblock %}

{% block main %}

	<h2>Lista de Usuários</h2>
	<ul>
	{% for u in usuarios %}
		<li>
			{{ u.nome }} - {{ u.email }}
			[<a href="{{ url_for('usuarios.update', id=u.id) }}">Editar</a>]
			[<a href="{{ url_for('usuarios.delete', id=u.id) }}">Excluir</a>]
		</li>
	{% endfor %}
	</ul>

{% endblock %}