{% extends 'base.html' %}

{% block titulo %}
    <title>Digimundo - Página Inicial</title>
{% endblock %}

{% block logo %}
    <div class="logo">
        <img src="../static/imgs/logo/logo.png">
    </div>
{% endblock %}

{% block audio %}
    <audio autoplay loop>
        <source src="{{ url_for('static', filename='audio/bolero.mp3') }}" type='audio/mpeg'>
    </audio>
{% endblock %}

{% block main %}
    <h2>Atualizar Dados</h2>
    <form method="POST">
        Nome: <input type="text" name="nome" value="{{ usuario.nome }}" required maxlength="10"><br>
        Email: <input type="email" name="email" value="{{ usuario.email }}" required><br>
        Nova Senha: <input type="password" name="senha" class="form-control"
      required pattern="\d{1,10}" maxlength="10"><br>
        <button type="submit">Atualizar</button>
    </form>
    <br>
    <a href="{{ url_for('usuarios.perfil') }}">Voltar</a>
{% endblock %}